{% comment %}
	Renders gift card recipient form.
	Accepts:
	- product: {Object} product object.
	- form: {Object} the product form object.
	- section: {Object} section to which this snippet belongs.

	Usage:
	{% render 'gift-card-recipient-form', product: product, form: form, section: section %}
{% endcomment %}

{%- liquid
	assign gift_card_recipient_control_flag = 'properties[__shopify_send_gift_card_to_recipient]'
	assign max_chars_message                = 200
	assign max_chars_message_rendered       = 'recipient.form.max_characters' | t: max_chars: max_chars_message
	assign message_label_rendered           = 'recipient.form.message_label' | t
-%}

<div class="recipient-form-wrapper">
	<div class="recipient-form" data-section-id="{{ section.id }}" data-product-variant-id="{{ product.selected_or_first_available_variant.id }}" >
		<label class="recipient-checkbox-label" for="recipient-checkbox-{{ section.id }}">
			<input id="recipient-checkbox-{{ section.id }}" type="checkbox" name="{{ gift_card_recipient_control_flag }}" />
			<span>{{- 'recipient.form.checkbox' | t -}}</span>
		</label>

		<div class="product-form__recipient-error-message-wrapper" role="alert"{% unless form.errors %} hidden{% endunless %}>
			<h2 class="message error-message" tabindex="-1" autofocus>
				{%- liquid
					render 'icon', code: 'error'

					echo 'templates.form.error_heading' | t
				-%}
			</h2>

			<ul>
				{%- if form.errors -%}
					{%- for field in form.errors -%}
						<li>
							{%- if field == 'form' -%}
								{{- form.errors.messages[field] -}}
							{%- else -%}
								<a href="#recipient-{{ field }}-{{ section.id }}">
									{{- form.errors.messages[field] -}}
								</a>
							{%- endif -%}
						</li>
					{%- endfor -%}
				{%- endif -%}
			</ul>
		</div>

		<p id="recipient-fields-live-region-{{ section.id }}" class="sr-only" role="status" ></p>

		<div class="recipient-fields">
			<div class="recipient-fields__field">
				<div class="field">
					<input class="field__input email-input"
						id="recipient-email-{{ section.id }}"
						type="email"
						placeholder="{{ 'recipient.form.email' | t }}"
						name="properties[Recipient email]"
						value="{{ form.email }}"
						{% if form.errors contains 'email' %}
							aria-invalid="true"
							aria-describedby="recipient-form-email-error-{{ section.id }}"
						{% endif %}
						required />

					<label class="field__label" for="recipient-email-{{ section.id }}">
						<span class="recipient-email-label">{{- 'recipient.form.email_label' | t -}}</span>
					</label>

					<span class="message error-message email-valid-message"></span>
				</div>

				<div id="recipient-form-email-error-{{ section.id }}" class="form__message{% unless form.errors contains 'email' %} hidden{% endunless %}" >
					<span class="message error-message">
						{%- liquid
							render 'icon', code: 'error'

							if form.errors contains 'email'
								echo form.errors.messages.email | append: '.'
							endif
						-%}
					</span>
				</div>
			</div>

			<div class="recipient-fields__field">
				<div class="field">
					<input class="field__input"
						autocomplete="name"
						type="text"
						id="recipient-name-{{ section.id }}"
						name="properties[Recipient name]"
						placeholder="{{ 'recipient.form.name' | t }}"
						value="{{ form.name }}"
						{% if form.errors contains 'name' %}
							aria-invalid="true"
							aria-describedby="recipient-form-name-error-{{ section.id }}"
						{% endif %} >

					<label class="field__label" for="recipient-name-{{ section.id }}">
						{{- 'recipient.form.name_label' | t -}}
					</label>
				</div>

				<div id="recipient-form-name-error-{{ section.id }}" class="form__message{% unless form.errors contains 'name' %} hidden{% endunless %}" >
					<span class="message error-message">
						{%- liquid
							render 'icon', code: 'error'

							if form.errors contains 'name'
								echo form.errors.messages.name | append: '.'
							endif
						-%}
					</span>
				</div>
			</div>

			<div class="recipient-fields__field">
				<div class="field">
					<textarea
						rows="10"
						id="recipient-message-{{ section.id }}"
						class="text-area field__input"
						name="properties[Message]"
						maxlength="{{ max_chars_message }}"
						placeholder="{{ 'recipient.form.message' | t }}"
						aria-label="{{ message_label_rendered }} {{ max_chars_message_rendered }}"
						{% if form.errors contains 'message' %}
							aria-invalid="true"
							aria-describedby="recipient-form-message-error-{{ section.id }}"
						{% endif %}
					>{{- form.message -}}</textarea>

					<label class="form__label field__label" for="recipient-message-{{ section.id }}">
						{{- message_label_rendered -}}
					</label>
				</div>

				<label class="form__label recipient-form-field-label recipient-form-field-label--space-between">
					<span>{{- max_chars_message_rendered -}}</span>
				</label>

				<div id="recipient-form-message-error-{{ section.id }}" class="form__message{% unless form.errors contains 'message' %} hidden{% endunless %}" >
					<span class="message error-message">
						{%- liquid
							render 'icon', code: 'error'

							if form.errors contains 'message'
								echo form.errors.messages.message | append: '.'
							endif
						-%}
					</span>
				</div>
			</div>

			<div class="recipient-fields__field">
				<div class="field">
					<input class="field__input text-body"
						autocomplete="send_on"
						type="date"
						id="recipient-send-on-{{ section.id }}"
						name="properties[Send on]"
						placeholder="{{ 'recipient.form.send_on' | t }}"
						pattern="\d{4}-\d{2}-\d{2}"
						value="{{ form.send_on }}"
						{% if form.errors contains 'send_on' %}
							aria-invalid="true"
							aria-describedby="recipient-form-send_on-error-{{ section.id }}"
						{% endif %} >

					<label class="form__label field__label" for="recipient-send-on-{{ section.id }}">
						{{- 'recipient.form.send_on_label_optional' | t -}}
					</label>
				</div>

				<div id="recipient-form-send_on-error-{{ section.id }}" class="form__message{% unless form.errors contains 'send_on' %} hidden{% endunless %}" >
					<span class="message error-message">
						{%- liquid
							render 'icon', code: 'error'

							if form.errors contains 'send_on'
								echo form.errors.messages.send_on | append: '.'
							endif
						-%}
					</span>
				</div>
			</div>
		</div>

		<input type="hidden" name="{{ gift_card_recipient_control_flag }}" value="if_present" id="recipient-control-{{ section.id }}" />
		<input type="hidden" name="properties[__shopify_offset]" value="" id="recipient-timezone-offset-{{ section.id }}" />
	</div>
</div>
