{% comment %}
	Renders a product card

	Accepts:
	- product: {Object} Product Liquid object (optional)
	- highlight: {String} Product title match highlight (optional)
	- show_product_id: {Boolean} Show product id (optional)
	- image_ratio: {String} The image ratio (optional)

	Usage:
	{% render 'product-card' %}
{% endcomment %}

{%- liquid
	assign featured_image   = product.featured_media
	assign hover_media      = product.media[1]
	assign card_image_ratio = settings.card_image_ratio
	assign card_index       = index | default: 2

	if image_ratio
		assign card_image_ratio = image_ratio
	endif

	if featured_image and hover_media != nil and settings.card_image_hover_effect != 'none'
		assign image_effect = settings.card_image_hover_effect | prepend: ' hover-'
	endif
-%}

{% comment %} Stock status {% endcomment %}
{%- capture product_stock -%}
	{%- if settings.card_show_stock and product.template_suffix != 'pre-order' -%}
		{%- if product.available -%}
			{%- liquid
				assign should_calculate_inventory = true

				for variant in product.variants
					if variant.inventory_policy == 'continue' or variant.inventory_management == nil
						assign should_calculate_inventory = false
						break
					endif
				endfor
			-%}

			{%- if should_calculate_inventory and settings.card_low_stock > 0 -%}
				{%- liquid
					assign all_inventory = 0

					for variant in product.variants
						if variant.inventory_management
							assign all_inventory = variant.inventory_quantity | at_least: 0 | plus: all_inventory
						endif
					endfor
				-%}

				{%- if all_inventory <= settings.card_low_stock -%}
					<span class="product-stock-status inventory--low">{{- 'products.product.low_stock_with_quantity_count' | t: count: all_inventory -}}</span>
				{%- else -%}
					<span class="product-stock-status inventory--high">{{- 'products.product.in_stock_with_quantity_count' | t: count: all_inventory -}}</span>
				{%- endif -%}
			{%- else -%}
				{%- if product.variants.first.inventory_policy == 'continue' and product.variants.first.inventory_quantity <= 0 and product.variants.first.requires_shipping -%}
					<span class="product-stock-status inventory--high">{{- 'products.product.oversell_stock' | t -}}</span>
				{%- else -%}
					<span class="product-stock-status inventory--high">{{- 'products.product.in_stock' | t -}}</span>
				{%- endif -%}
			{%- endif -%}
		{%- else -%}
			<span class="product-stock-status">{{- 'products.product.out_of_stock' | t -}}</span>
		{%- endif -%}
	{%- endif -%}
{%- endcapture -%}

{% comment %} Swatches {% endcomment %}
{%- capture product_swatches -%}
	{%- if product.has_only_default_variant == false and product.options.size > 0 -%}
		{%- assign swatch = settings.swatch_type -%}

		{%- for option in product.options_with_values -%}
			{%- liquid
				assign name           = option.name | downcase
				assign variant_option = 'option' | append: forloop.index
				assign have_color     = forloop.index0
			-%}

			{%- if have_color and name == 'color' or name == 'colour' -%}
				<div class="product-swatches swatch-{{ settings.swatch_style }}{% unless settings.card_show_swatches %} hidden{% endunless %}" data-url="{{ product.url }}">
					{%- for value in option.values -%}
						{%- liquid
							assign variant          = product.variants[ forloop.index0 ]
							assign color            = value | handle | remove: '-'
							assign swatch_file_name = value | handle | append: '.png'
							assign swatch_file      = swatch_file_name | file_url
							assign is_swatch_png    = false

							# Check .png file available.
							if swatch_file contains '?v='
								assign is_swatch_png = true
							endif

							capture swatch_file_class
								if is_swatch_png
									echo ' swatch-png'
								endif
							endcapture

							# Check valid color.
							assign is_valid_color = color | color_to_rgb

							# Check metafield color.
							if variant.metafields.color.value
								assign color          = variant.metafields.color.value
								assign is_valid_color = true
							endif

							# Check contrast color.
							assign contrast = color | color_contrast: '#ffffff'
							capture contrast_class
								if contrast < 4.5
									echo ' dark'
								endif
							endcapture

							for variant in product.variants
								if variant[variant_option] == value
									assign variant_for_value = variant
									break
								endif
							endfor

							assign quantity = variant.inventory_quantity

							capture stock_status
								if quantity == 0 and variant.available == false and product.options.size == 1
									echo ' soldout'
								endif
							endcapture

							capture selected_class
								if option.selected_value == value
									echo ' selected'
								endif
							endcapture

							# Print swatch image
							capture swatch_file_img
								if is_swatch_png
									echo images[swatch_file_name] | image_url: width: 768 | image_tag
								endif
							endcapture
						-%}

						{%- if swatch == 'color' -%}
							{%- liquid
								capture is_valid_color_class
									unless is_swatch_png
										unless is_valid_color
											echo ' invalid-color'
										endunless
									endunless
								endcapture
							-%}

							<a class="swatch swatch-{{ swatch }}{{ contrast_class }}{{ stock_status }}{{ swatch_file_class }}{{ is_valid_color_class }}{{ selected_class }}"
								data-name="{{ option.name | escape }}"
								data-value="{{ value | escape }}"
								href="{{ variant_for_value.url | within: collection }}"
								{% if is_valid_color %}style="background-color: {{ color }};"{% endif %}
								{% if variant_for_value.featured_media != blank %}
								data-key="{{ variant_for_value.featured_image.src | handle | append: '-grid' }}"
								data-src="{{ variant_for_value.featured_media | image_url: width: 768 }}{% endif %}">
								<span class="{% if is_valid_color_class == blank %}sr-only {% endif %}swatch-value">{{- value -}}</span>
								{{- swatch_file_img -}}
							</a>
						{%- elsif swatch == 'image' -%}
							{% liquid
								capture swatch_image_class
									unless is_swatch_png
										if variant_for_value.featured_media
											echo ' swatch-image'
										else
											if is_valid_color
												echo ' swatch-color'
											else
												echo ' invalid-color'
											endif

											echo contrast_class
										endif
									endunless
								endcapture
							%}

							<a class="swatch{{ swatch_image_class }}{{ swatch_file_class }}{{ stock_status }}{{ selected_class }}"
								data-name="{{ option.name | escape }}"
								data-value="{{ value | escape }}"
								href="{{ variant_for_value.url | within: collection }}"
								{% if variant_for_value.featured_media != blank %}
								data-key="{{ variant_for_value.featured_image.src | handle | append: '-grid' }}"
								data-src="{{ variant_for_value.featured_media | image_url: width: 768 }}"{% endif %}
								{% unless variant_for_value.featured_media %}{% if is_valid_color %}style="background-color: {{ color }};"{% endif %}{% endunless %}>
								<span class="{% if is_valid_color_class == blank %}sr-only {% endif %}swatch-value">{{- value -}}</span>

								{%- liquid
									if is_swatch_png
										echo swatch_file_img
									elsif variant_for_value.featured_media
										echo variant_for_value.featured_media | image_url: width: 200, height: 200, crop: 'center' | image_tag: loading: 'lazy'
									endif
								-%}
							</a>
						{%- else -%}
							<a class="swatch swatch-{{ swatch }}{{ selected_class }}{{ stock_status }}"
								data-name="{{ option.name | escape }}"
								data-value="{{ value | escape }}"
								href="{{ variant_for_value.url | within: collection }}"
								{% if variant_for_value.featured_media != blank %}
								data-key="{{ variant_for_value.featured_image.src | handle | append: '-grid' }}"
								data-src="{{ variant_for_value.featured_media | image_url: width: 768 }}"{% endif %}>
								{{- value -}}
							</a>
						{%- endif -%}
					{%- endfor -%}

					{%- if swatch != 'button' -%}
						<span class="swatch-selected">{{- option.selected_value -}}</span>
					{%- endif -%}
				</div>
			{%- endif -%}
		{%- endfor -%}
	{%- endif -%}
{%- endcapture -%}

{% comment %} Add to cart {% endcomment %}
{%- capture product_add_to_cart -%}
	{%- form 'product', product, class: 'form-add-to-cart', novalidate: 'novalidate', data-type: 'add-to-cart-form', id: nil -%}
		<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

		{%- if product.available -%}
			{%- if product.has_only_default_variant -%}
				<button type="submit" name="add" class="button primary-button add-to-cart-button">
					{{- 'products.product.add_to_cart' | t -}}
				</button>
			{%- else -%}
				{% comment %} Quick add {% endcomment %}
				{%- capture quick_add_box -%}
					{%- for option in product.options_with_values -%}
						{%- liquid
							assign selected_value = option.selected_value
							assign name           = option.name | downcase
							assign is_color       = false
							assign option_index   = forloop.index0

							if name == 'color' or name == 'colour'
								assign is_color = true
							endif
						-%}

						{%- unless is_color -%}
							<div class="field-title">
								{{- option.name -}}
							</div>

							{%- assign values = '' -%}

							<div class="field-swatch">
								{%- for variant in product.variants -%}
									{%- liquid
										assign value    = variant.options[option_index]
										assign quantity = variant.inventory_quantity

										capture stock_status
											if quantity == 0 and variant.available == false
												echo ' soldout'
											endif
										endcapture
									-%}

									{%- unless values contains value -%}
										{%- liquid
											assign values = values | join: ','
											assign values = values | append: ',' | append: value
											assign values = values | split: ','
										-%}

										<span class="field-item{{ stock_status }}{% if selected_value == value %} selected{% endif %}" data-name="{{ option.name | escape }}" data-value="{{ value | escape }}">
											{{- value -}}
										</span>
									{%- endunless -%}
								{%- endfor -%}
							</div>
						{%- endunless -%}
					{%- endfor -%}
				{%- endcapture -%}

				{%- if quick_add_box != blank -%}
					<div class="quick-add no-js-hidden">
						<a href="{{ product.url }}" class="add-to-cart-button quick-add-button">{{- 'products.product.quick_add' | t -}}</a>

						<div class="quick-add-box">
							{{- quick_add_box -}}

							<button type="submit" name="add" class="hidden add-to-cart-button">{{- 'products.product.quick_add' | t -}}</button>
						</div>
					</div>

					<noscript>
						<a href="{{ product.url }}" class="add-to-cart-button">{{- 'products.product.view_options' | t -}}</a>
					</noscript>
				{%- else -%}
					<button type="submit" name="add" class="button primary-button add-to-cart-button quick-add-button">{{- 'products.product.quick_add' | t -}}</button>
				{%- endif -%}
			{%- endif -%}
		{%- else -%}
			<button type="submit" name="add" class="add-to-cart-button" disabled>
				{{- 'products.product.sold_out' | t -}}
			</button>
		{%- endif -%}

		{% comment %} Product variant data {% endcomment %}
		<script data-product-variants>
			{{ product.variants | json }}
		</script>
	{%- endform -%}
{%- endcapture -%}

<div class="product-card text-{{ alignment | default: 'left' }}"{% if show_product_id %} data-product-id="{{ product.id }}"{% endif %}>
	<div class="product-media-wrap {{ card_image_ratio }}-media{{ image_effect }}{% if hover_media != nil and settings.card_image_hover_effect != 'none' %} has-second-image{% endif %}{% unless featured_image %} no-media{% endunless %}{% if settings.card_image_overlay %} has-overlay{% endif %}{% if settings.card_padding > 0 %} card-padding{% endif %}">
		{% comment %} Image {% endcomment %}
		{%- if featured_image -%}
			<a href="{{ product.url | split: '?' | first }}" class="product-image{% if settings.image_lazy and featured_image %} lazy-image{% endif %}" arial-label="{{ product.title }}">
				{%- liquid
					assign image_load = 'eager'

					if card_index > 1
						assign image_load = 'lazy'
					endif

					render 'lazy-image', image: featured_image, width: 740, class: 'product-first-image', lazy: image_load
				-%}

				{%- if hover_media != nil and settings.card_image_hover_effect != 'none' -%}
					<span class="product-second-image{% if hover_media.media_type contains 'video' %} hover-media-video{% endif %}">
						{%- capture hover_image -%}
							<img srcset="{%- if hover_media.width >= 370 -%}{{ hover_media | image_url: width: 370 }} 165w,{%- endif -%}
								{%- if hover_media.width >= 540 -%}{{ hover_media | image_url: width: 540 }} 360w,{%- endif -%}
								{%- if hover_media.width >= 740 -%}{{ hover_media | image_url: width: 740 }} 533w,{%- endif -%}
								{%- if hover_media.width >= 840 -%}{{ hover_media | image_url: width: 840 }} 720w,{%- endif -%}
								{%- if hover_media.width >= 960 -%}{{ hover_media | image_url: width: 960 }} 940w,{%- endif -%}
								{%- if hover_media.width >= 1066 -%}{{ hover_media | image_url: width: 1066 }} 1066w{%- endif -%}"
								src="{{ hover_media | image_url: width: 1066 }}"
								sizes="(min-width: {{ settings.screen_lg }}px) {{ settings.screen_lg | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
								alt="{{ hover_media.alt | escape }}"
								loading="lazy"
								width="{{ hover_media.width }}"
								height="{{ hover_media.height }}">
						{%- endcapture -%}

						{%- liquid
							case hover_media.media_type
								when 'external_video'
									assign video_class = 'js-' | append: hover_media.host

									if hover_media.host == 'youtube'
										echo hover_media | external_video_url: controls: false, loop: true | external_video_tag: class: video_class, loading: 'lazy'
									else
										echo hover_media | external_video_url: controls: false, loop: true, background: true, muted: true, transparent: false | external_video_tag: class: video_class, loading: 'lazy'
									endif
								when 'video'
									echo hover_media | video_tag: image_size: '2048x', loop: true, muted: true, controls: false, preload: 'none'
								else
									echo hover_image
							endcase

						-%}

					</span>
				{%- endif -%}
			</a>
		{%- else -%}
			{%- if settings.card_show_title -%}<h2 class="product-title">{%- endif -%}
				<a href="{{ product.url | split: '?' | first }}" class="product-link">
					{%- liquid
						if settings.card_show_title
							if highlight
								echo product.title | highlight: highlight
							else
								echo product.title | escape
							endif
						endif
					-%}
				</a>
			{%- if settings.card_show_title -%}</h2>{%- endif -%}
		{%- endif -%}

		{% comment %} Badge {% endcomment %}
		{%- capture product_badge -%}
			{%- liquid
				capture saved_price
					render 'saved-price', product: product
				endcapture
			-%}

			{%- if product.available == false -%}
				<span class="badge sold-out" aria-hidden="true">{{- 'products.product.sold_out' | t -}}</span>
			{%- elsif product.compare_at_price > product.price and product.available -%}
				<span class="badge on-sale{% if saved_price == blank %} hidden{% endif %}" aria-hidden="true">
					<span class="sr-only">{{ 'products.product.on_sale' | t }}: </span>
					-<span class="saved-price">{{ saved_price | default: 0 }}</span>%
				</span>
			{%- endif -%}
		{%- endcapture -%}

		{%- if product_badge != blank -%}
			<div class="product-badge">{{- product_badge -}}</div>
		{%- endif -%}

		{% comment %} Actions {% endcomment %}
		<div class="product-actions" data-handle="{{ product.handle }}" data-id="{{ product.id }}">
			<a class="product-action product-quick-view hidden" href="{{ product.url | split: '?' | first }}" arial-label="{{ 'products.product.quick_view' | t }}">
				<span class="tooltip">{{- 'products.product.quick_view' | t -}}</span>
				<span class="hidden-mobile hidden-tablet">{%- render 'icon', code: 'eye' -%}</span>
				<span class="hidden-desktop">{%- render 'icon', code: 'cart' -%}</span>
			</a>
		</div>

		{% comment %} Add to cart {% endcomment %}
		{{- product_add_to_cart -}}
	</div>

	<div class="product-card-content{% if settings.card_padding > 5 %} no-margin-top{% endif %}">
		{% comment %} Swatches {% endcomment %}
		{{- product_swatches -}}

		{% comment %} Collections {% endcomment %}
		{%- if settings.card_show_collections and product.collections.first -%}
			<div class="product-collections">
				{%- for cat in product.collections -%}
					<a href="{{ cat.url }}">{{ cat.title }}</a>{% unless forloop.last %}, {% endunless %}
				{%- endfor -%}
			</div>
		{%- endif -%}

		{% comment %} Tags {% endcomment %}
		{%- if settings.card_show_tags and product.tags.first -%}
			<div class="product-tags">
				{%- for tag in product.tags -%}
					{{ tag | link_to_add_tag: tag }}{% unless forloop.last %}, {% endunless %}
				{%- endfor -%}
			</div>
		{%- endif -%}

		{% comment %} Vendor {% endcomment %}
		{%- if settings.card_show_vendor -%}
			<div class="product-vendor">
				<span class="sr-only">{{- 'accessibility.vendor' | t -}}</span>
				{{ product.vendor | link_to_vendor: class: "product-vendor-link" }}
			</div>
		{%- endif -%}

		{% comment %} Title {% endcomment %}
		{%- if settings.card_show_title and featured_image -%}
			<h2 class="product-title">
				<a href="{{ product.url | split: '?' | first }}">{% if highlight %}{{ product.title | highlight: highlight }}{% else %}{{- product.title | escape -}}{% endif %}</a>
			</h2>
		{%- endif -%}

		{% comment %} Price {% endcomment %}
		{%- liquid
			if settings.card_show_price
				render 'price', product: product
			endif
		-%}

		{% comment %} Stock {% endcomment %}
		{{- product_stock -}}

		{% comment %} Rating {% endcomment %}
		{%- if settings.card_show_rating -%}
			<div class="product-rating">
				<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
			</div>
		{%- endif -%}
	</div>
</div>
