{%- liquid
	assign section_id      = '#shopify-section-' | append: section.id
	assign product_form_id = 'product-form-' | append: section.id
-%}

<div class="product-summary{% if class != blank %} {{ class }}{% endif %}">
	<div class="product-summary-inner text-{{ section.settings.alignment }}" data-url="{{ shop.url | append: product.url }}" data-selected-id="{{ product.selected_or_first_available_variant.id }}">
		<div class="sr-only">
			{%- liquid
				if product.featured_media
					echo product.featured_media | image_url: width: 1066 | image_tag: loading: 'lazy', class: 'product-image'
				else
					echo 'image' | placeholder_svg_tag: 'placeholder-svg product-image'
				endif
			-%}
		</div>

		{%- for block in section.blocks -%}
			{%- liquid
				capture text_transform
					if block.settings.text_transform == 'uppercase' or block.settings.text_transform == 'capitalize'
						echo block.settings.text_transform | prepend: ' text-'
					endif
				endcapture

				assign current_variant = product.selected_or_first_available_variant

				capture tags_handle
					echo product.tags | join: ', '
				endcapture
			-%}

			<div class="summary-item {{ block.type }}{% if saved_number == blank and block.type == 'sale-label' %} hidden{% endif %}" data-{{ block.id }} {{ block.shopify_attributes }}>
				{%- case block.type -%}
					{%- when '@app' -%}
						<div class="product-block">
							{%- render block -%}
						</div>
					{%- when 'sale-label' -%}
						{%- liquid
							capture saved_number
								render 'saved-price'
							endcapture
						-%}

						<span class="product-sale-label{{ text_transform }}">
							<span class="sr-only">{{ 'products.product.on_sale' | t }}: </span>
							<span class="sale-total">{{ 'products.product.price.saved_price_html' | t: saved_price: saved_number }}%</span>
						</span>
					{%- when 'text' -%}
						{%- if block.settings.text != blank -%}
							<p class="product-text{{ text_transform }}">
								{{- block.settings.text -}}
							</p>
						{%- endif -%}
					{%- when 'title' -%}
						<h1 class="product-title{{ text_transform }}">
							{{- product.title | escape -}}
						</h1>
					{%- when 'price' -%}
						{%- render 'price', product: product, use_variant: true -%}

						{%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
							<div class="tax-note">
								{%- liquid
									if cart.taxes_included
										echo 'products.product.include_taxes' | t
									endif

									if shop.shipping_policy.body != blank
										echo 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url
									endif
								-%}
							</div>
						{%- endif -%}

						{%- form 'product', product, id: 'product-form-installment', class: 'installment' -%}
							<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
							{{ form | payment_terms }}
						{%- endform -%}
					{%- when 'description' -%}
						{%- if product.description != blank -%}
							<div class="product-description">
								{{- product.description -}}
							</div>
						{%- endif -%}
					{%- when 'availability' -%}
						{%- liquid
							capture icon_tick
								echo '<span class="availability-icon icon-tick">'
									render 'icon', code: 'tick'
								echo '</span>'
							endcapture

							capture icon_close
								echo '<span class="availability-icon icon-close">'
									render 'icon', code: 'close'
								echo '</span>'
							endcapture
						-%}

						<div class="product-availability">
							{%- if product.available -%}
								{%- liquid
									assign should_calculate_inventory = true

									for variant in product.variants
										if variant.inventory_policy == 'continue' or variant.inventory_management == null
											assign should_calculate_inventory = false
											break
										endif
									endfor
								-%}

								{%- if should_calculate_inventory and block.settings.low_stock > 0 -%}
									{%- liquid
										assign all_inventory = 0

										for variant in product.variants
											if variant.inventory_management
												assign all_inventory = variant.inventory_quantity | at_least: 0 | plus: all_inventory
											endif
										endfor
									-%}

									{%- if all_inventory <= block.settings.low_stock -%}
										<span class="product-stock-status inventory--low">{{- icon_close -}}{{- 'products.product.low_stock_with_quantity_count' | t: count: all_inventory -}}</span>
									{%- else -%}
										<span class="product-stock-status inventory--high">{{- icon_tick -}}{{- 'products.product.in_stock_with_quantity_count' | t: count: all_inventory -}}</span>
									{%- endif -%}
								{%- else -%}
									{%- if product.variants.first.inventory_policy == 'continue' and product.variants.first.inventory_quantity <= 0 and product.variants.first.requires_shipping -%}
										<span class="product-stock-status inventory--high">{{- icon_tick -}}{{- 'products.product.oversell_stock' | t -}}</span>
									{%- else -%}
										<span class="product-stock-status inventory--high">{{- icon_tick -}}{{- 'products.product.in_stock' | t -}}</span>
									{%- endif -%}
								{%- endif -%}
							{%- else -%}
								<span class="product-stock-status inventory--low">{{- icon_close -}}{{- 'products.product.out_of_stock' | t -}}</span>
							{%- endif -%}
						</div>
					{%- when 'divider' -%}
						<div class="product-divider"></div>
					{%- when 'information' -%}
						<div class="product-information">
							{%- if block.settings.vendor -%}
								<div class="info-item product-vendor">
									<span class="info-name">{{- 'products.product.information.vendor' | t -}}:</span>

									{{- product.vendor | link_to_vendor: class: "product-vendor-link" -}}
								</div>
							{%- endif -%}

							{%- if block.settings.collections and product.collections.first -%}
								<div class="info-item product-collections">
									<span class="info-name">{{- 'products.product.information.collections' | t -}}:</span>

									{%- for cat in product.collections -%}
										<a href="{{ cat.url }}">{{ cat.title }}</a>{% unless forloop.last %}, {% endunless %}
									{%- endfor -%}
								</div>
							{%- endif -%}

							{%- if block.settings.tags and tags_handle != blank -%}
								<div class="info-item product-tags">
									<span class="info-name">{{- 'products.product.information.tags' | t -}}:</span>

									{{- tags_handle -}}
								</div>
							{%- endif -%}

							{%- if block.settings.type and product.type != blank -%}
								<div class="info-item product-type">
									<span class="info-name">{{- 'products.product.information.type' | t -}}:</span>

									{{- product.type -}}
								</div>
							{%- endif -%}

							{%- if block.settings.sku and current_variant.sku != blank -%}
								<div class="info-item product-sku">
									<span class="info-name">{{- 'products.product.information.sku' | t -}}:</span>

									{{- current_variant.sku -}}
								</div>
							{%- endif -%}

							{%- if block.settings.barcode and current_variant.barcode != blank -%}
								<div class="info-item product-barcode">
									<span class="info-name">{{- 'products.product.information.barcode' | t -}}:</span>

									{{- current_variant.barcode -}}
								</div>
							{%- endif -%}
						</div>
					{%- when 'custom-liquid' -%}
						<div class="product-custom-liquid">
							{{- block.settings.custom-liquid -}}
						</div>
					{%- when 'collapsible-tab' -%}
						<details class="product-accordion">
							<summary class="accordion-summary" aria-expanded="false">
								{%- liquid
									if block.settings.icon != 'none'
										render 'icon-accordion', icon: block.settings.icon
									endif
								-%}

								<h4 class="accordion-title">
									{{- block.settings.heading | default: block.settings.page.title -}}
								</h4>

								<span class="accordion-caret">
									<span class="plus">{%- render 'icon', code: 'plus' -%}</span>
									<span class="minus">{%- render 'icon', code: 'minus' -%}</span>
								</span>
							</summary>

							<div class="accordion-content details-content rte">
								{{- block.settings.content -}}
								{{- block.settings.page.content -}}
							</div>
						</details>
					{%- when 'popup' -%}
						<div class="product-popup">
							<button class="popup-toggle link-underline-transparent" type="button" aria-haspopup="dialog">
								{%- render 'icon', code: 'info' -%}
								{{- block.settings.text | default: block.settings.page.title -}}
							</button>

							{%- if block.settings.page != blank -%}
								<div class="popup-view">
									<div class="popup-inner">
										<button type="button" class="popup-close primary-button" aria-label="{{- 'accessibility.close' | t -}}">
											{%- render 'icon', code: 'close-thin' -%}
										</button>

										<div class="popup-content">
											<h2 class="popup-heading text-center">{{- block.settings.page.title -}}</h2>

											{{ block.settings.page.content }}
										</div>
									</div>
								</div>
							{%- endif -%}
						</div>
					{%- when 'share' -%}
						<div class="product-share" data-{{ block.settings.type }}>
							{%- if block.settings.type == 'os' -%}
								<button class="share-button link-underline hidden">
									{%- render 'icon', code: 'share' -%}
									{{- block.settings.share_label | escape -}}
								</button>

								<details>
									<summary class="share-button link-underline hidden">
										{% render 'icon', code: 'share' %}
										{{ block.settings.share_label | escape }}
									</summary>

									<div class="share-content">
										<div class="share-field">
											<span class="share-message hidden" role="status"></span>

											<input type="text" class="field-input" id="share-url-{{ section.id }}"
												value="{{ shop.url | append: product.url }}{% unless product.has_only_default_variant %}?variant={{ product.selected_or_first_available_variant.id }}{% endunless %}"
												placeholder="{{ 'general.share.share_url' | t }}"
												onclick="this.select();"
												readonly />
											<label class="field-label" for="share-url-{{ section.id }}">{{ 'general.share.share_url' | t }}</label>
										</div>

										<span class="share-button-close hidden">
											{% render 'icon', code: 'close-thin' %}
											<span class="sr-only">{{ 'general.share.close' | t }}</span>
										</span>

										<span class="share-button-copy">
											{% render 'icon', code: 'clipboard' %}
											<span class="sr-only">{{ 'general.share.copy_to_clipboard' | t }}</span>
										</span>
									</div>
								</details>
							{%- else -%}
								{%- liquid
									assign product_url = shop.url | append: product.url
								-%}

								<ul class="social-media-list" role="list">
									<li>
										<a href="//facebook.com/sharer/sharer.php?u={{ product_url }}" class="icon" target="_blank" rel="noopener" aria-label="{{ 'general.social.links.facebook' | t }}">
											{%- render 'icon', code: 'facebook' -%}
											<span class="tooltip tooltip-top">{{- 'general.social.links.facebook' | t -}}</span>
										</a>
									</li>

									<li>
										<a href="//twitter.com/intent/tweet?text={{ product.title }}" class="icon" target="_blank" rel="noopener" aria-label="{{ 'general.social.links.twitter' | t }}">
											{%- render 'icon', code: 'twitter' -%}
											<span class="tooltip tooltip-top">{{- 'general.social.links.twitter' | t -}}</span>
										</a>
									</li>

									<li>
										<a href="//linkedin.com/shareArticle?mini=true&url={{ product_url }}&title={{ product.title }}&summary={{ product.description | strip_html }}" class="icon" target="_blank" rel="noopener" aria-label="{{ 'general.social.links.linkedin' | t }}">
											{%- render 'icon', code: 'linkedin' -%}
											<span class="tooltip tooltip-top">{{- 'general.social.links.linkedin' | t -}}</span>
										</a>
									</li>

									<li>
										<a href="//pinterest.com/pin/create/button/?url={{ product_url }}&media={{ product.featured_media | image_url: width: 1024 }}&description={{ product.description | strip_html }}" class="icon" target="_blank" rel="noopener" aria-label="{{ 'general.social.links.pinterest' | t }}">
											{%- render 'icon', code: 'pinterest' -%}
											<span class="tooltip tooltip-top">{{- 'general.social.links.pinterest' | t -}}</span>
										</a>
									</li>

									<li>
										<a href="mailto:info@example.com?&subject=&cc=&bcc=&body={{ product_url }}%0A{{ product.title }}" class="icon" target="_blank" rel="noopener" aria-label="{{ 'general.social.links.email' | t }}">
											{%- render 'icon', code: 'email' -%}
											<span class="tooltip tooltip-top">{{- 'general.social.links.email' | t -}}</span>
										</a>
									</li>
								</ul>
							{%- endif -%}
						</div>
					{%- when 'variant-picker' -%}
						{%- unless product.has_only_default_variant -%}
							{%- liquid
								assign swatch       = settings.swatch_type
								assign option_index = 0
							-%}

							<div class="product-variants variant-{{ block.settings.picker_type }} swatches-{{ settings.swatch_style }}" data-url="{{ product.url }}">
								{%- for option in product.options_with_values -%}
									{%- liquid
										assign selected_value = option.selected_value
										assign id             = 'option-' | append : section.id | append: '-' | append: forloop.index
										assign name           = option.name | downcase
										assign is_color       = false
										assign option_index   = forloop.index0

										if name == 'color' or name == 'colour'
											assign is_color = true
										endif
									-%}

									<div class="variant-field">
										{%- if block.settings.picker_type == 'swatch' -%}
											<div class="field-title">
												{{- option.name -}}:
												<span class="selected-value">{{- selected_value -}}</span>
											</div>

											<div class="field-wrap">
												<div class="field-wrap-inner">
													{%- assign values = '' -%}

													{%- for variant in product.variants -%}
														{%- liquid
															assign value    = variant.options[option_index]
															assign quantity = variant.inventory_quantity

															capture stock_status
																if quantity == 0 and variant.available == false
																	echo ' soldout'
																endif
															endcapture
														-%}

														{%- unless values contains value -%}
															{%- liquid
																assign values = values | join: ','
																assign values = values | append: ',' | append: value
																assign values = values | split: ','
															-%}

															<input type="radio" id="{{ id | append: forloop.index }}"
																name="{{ option.name | escape }}"
																value="{{ value | escape }}"
																form="{{ product_form_id }}"
																class="field-value sr-only" {% if selected_value == value %}checked{% endif %}>

															{%- if is_color -%}
																{%- liquid
																	assign color            = value | handle | remove: '-'
																	assign swatch_file_name = value | handle | append: '.png'
																	assign swatch_file      = swatch_file_name | file_url
																	assign is_swatch_png    = false

																	# Check .png file available.
																	if swatch_file contains '?v='
																		assign is_swatch_png = true
																	endif

																	capture swatch_file_class
																		if is_swatch_png
																			echo ' swatch-png'
																		endif
																	endcapture

																	# Check valid color.
																	assign is_valid_color = color | color_to_rgb

																	# Check metafield color.
																	if variant.metafields.color.value
																		assign color          = variant.metafields.color.value
																		assign is_valid_color = true
																	endif

																	# Check contrast color.
																	assign contrast = color | color_contrast: '#ffffff'
																	capture contrast_class
																		if contrast < 4.5
																			echo ' dark'
																		endif
																	endcapture

																	# Print swatch image
																	capture swatch_file_img
																		if is_swatch_png
																			echo images[swatch_file_name] | image_url: width: 768 | image_tag
																		endif
																	endcapture
																-%}

																{%- if swatch == 'color' -%}
																	{%- liquid
																		capture is_valid_color_class
																			unless is_swatch_png
																				unless is_valid_color
																					echo ' invalid-color'
																				endunless
																			endunless
																		endcapture
																	-%}

																	<label class="field-label swatch swatch-{{ swatch }}{{ contrast_class }}{{ stock_status }}{{ swatch_file_class }}{{ is_valid_color_class }}" for="{{ id | append: forloop.index }}"{% if is_valid_color %} style="background-color: {{ color }};"{% endif %}>
																		{%- liquid
																			if is_swatch_png
																				echo swatch_file_img
																			else
																				unless is_valid_color
																					echo value
																				endunless
																			endif
																		-%}
																	</label>
																{%- elsif swatch == 'image' -%}
																	{% liquid
																		capture swatch_image_class
																			unless is_swatch_png
																				if variant.image
																					echo ' swatch-image'
																				else
																					if is_valid_color
																						echo ' swatch-color'
																					else
																						echo ' invalid-color'
																					endif

																					echo contrast_class
																				endif
																			endunless
																		endcapture
																	%}

																	<label class="field-label swatch{{ swatch_image_class }}{{ stock_status }}{{ swatch_file_class }}" for="{{ id | append: forloop.index }}"{% unless variant.image %}{% if is_valid_color %} style="background-color: {{ color }};"{% endif %}{% endunless %}>
																		{%- liquid
																			if is_swatch_png
																				echo swatch_file_img
																			else
																				if variant.image
																					echo variant.image | image_url: width: 150, height: 150, crop: 'center' | image_tag: loading: 'lazy'
																				else
																					unless is_valid_color
																						echo value
																					endunless
																				endif
																			endif
																		-%}
																	</label>
																{%- else -%}
																	<label class="field-label field-button{{ stock_status }}" for="{{ id | append: forloop.index }}">{{- value -}}</label>
																{%- endif -%}
															{%- else -%}
																<label class="field-label field-button{{ stock_status }}" for="{{ id | append: forloop.index }}">{{- value -}}</label>
															{%- endif -%}
														{%- endunless -%}
													{%- endfor -%}
												</div>
											</div>
										{%- else -%}
											<div class="field-title">
												{{- option.name -}}:
												<span class="selected-value">{{- selected_value -}}</span>
											</div>

											<div class="field-wrap">
												<select class="field-value" name="[{{ option.name | escape }}]" form="{{ product_form_id }}" data-noui>
													{%- for value in option.values -%}
														<option value="{{ value | escape }}" {% if selected_value == value %}selected="selected"{% endif %}>
															{{- value -}}
														</option>
													{%- endfor -%}
												</select>
											</div>
										{%- endif -%}
									</div>
								{%- endfor -%}
							</div>

							{% comment %} Product variant data {% endcomment %}
							<script data-product-variants>
								{{ product.variants | json }}
							</script>

							{% comment %} Product quantity data {% endcomment %}
							<script data-inventory-quantity>
								[{%- liquid
									for var in product.variants
										echo '{"id":' | append: var.id | append: ',"qty":' | append: var.inventory_quantity | append: '}'

										unless forloop.last
											echo ','
										endunless
									endfor
								-%}]
							</script>
						{%- endunless -%}
					{%- when 'add-to-cart' -%}
						{%- liquid
							assign form_class = 'product-buy'

							if product.selected_or_first_available_variant.available == false
								assign form_class = 'product-buy disabled'
							endif
						-%}

						<div class="product-warning error-message message"></div>

						{%- form 'product', product, id: product_form_id, class: form_class, novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
							<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

							{%- liquid
								if block.settings.show_gift_card and product.gift_card?
									render 'gift-card-recipient-form', product: product, form: form, section: section
								endif
							-%}

							<noscript>
								<div class="no-js-select-variants{% if product.has_only_default_variant %} hidden{% endif %}">
									<label for="no-js-option-{{ section.id }}">{{- 'products.product.product_variants' | t -}}:</label>

									<select name="id" id="no-js-option-{{ section.id }}" form="{{ product_form_id }}" data-noui>
										{%- for variant in product.variants -%}
											<option value="{{ variant.id }}"
												{% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
												{% if variant.available == false %}disabled{% endif %}>
												{{- variant.title }}
												{%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
												- {{ variant.price | money | strip_html -}}
											</option>
										{%- endfor -%}
									</select>
								</div>
							</noscript>

							<div class="item-field">
								{%- if block.settings.quantity_selector -%}
									<span class="field-title sr-only">
										{{- 'products.product.quantity.label' | t -}}
									</span>

									<div class="product-quantity">
										{%- render 'quantity' -%}
									</div>
								{%- endif -%}

								<button type="submit" name="add" class="button add-to-cart-button primary-button{{ text_transform }}">
									{%- liquid
										if product.selected_or_first_available_variant.available
											echo 'products.product.add_to_cart' | t
										else
											echo 'products.product.out_of_stock' | t
										endif
									-%}
								</button>
							</div>

							{%- liquid
								if block.settings.dynamic_checkout
									echo form | payment_button
								endif
							-%}
						{%- endform -%}
					{%- when 'image-with-link' -%}
						{%- liquid
							assign tag = 'div'

							if block.settings.url != blank
								assign tag = 'a'
							endif
						-%}

						<{{ tag }} class="custom-image"{% if block.settings.url != blank %} href="{{ block.settings.url | default: '#' }}"{% endif %}>
							{%- liquid
								if block.settings.image != blank and block.settings.image_width > 0
									echo block.settings.image | image_url: width: block.settings.image_width | image_tag: loading: 'lazy'
								else
									echo 'collection-1' | placeholder_svg_tag: 'placeholder-svg'
								endif
							-%}
						</{{ tag }}>
					{%- when 'countdown' -%}
						{%- liquid
							assign countdown_title = block.settings.title
							assign countdown_time  = block.settings.time
						-%}

						{%- if countdown_time != blank -%}
							<div class="product-countdown countdown-time-wrap hidden">
								{%- if countdown_title != blank -%}
									<p class="countdown-title">{{- countdown_title | escape -}}</p>
								{%- endif -%}

								<div class="countdown-time" data-time="{{ countdown_time | escape }}">
									<div class="time-block">
										<span class="time-number days"></span>
										<span class="time-text">{{- 'general.time.days' | t -}}</span>
									</div>

									<div class="time-block">
										<span class="time-number hours"></span>
										<span class="time-text">{{- 'general.time.hours' | t -}}</span>
									</div>

									<div class="time-block">
										<span class="time-number minutes"></span>
										<span class="time-text">{{- 'general.time.minutes' | t -}}</span>
									</div>

									<div class="time-block">
										<span class="time-number seconds"></span>
										<span class="time-text">{{- 'general.time.seconds' | t -}}</span>
									</div>
								</div>
							</div>
						{%- endif -%}
					{%- when 'complementary' -%}
						{%- liquid
							assign is_collapsible = block.settings.make_collapsible_row
							assign limit          = block.settings.product_list_limit
							assign per_page       = block.settings.products_per_page
							assign details_tag    = 'div'
							assign summary_tag    = 'div'

							if limit > per_page
								assign is_carousel = true
							endif

							if is_collapsible
								assign details_tag = 'details'
								assign summary_tag = 'summary'
							endif
						-%}

						<div class="complementary-products-container no-js-hidden" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ limit }}&intent=complementary">
							{%- if recommendations.performed and recommendations.products_count > 0 -%}
								{%- liquid
									assign slides = recommendations.products_count | plus: 0.0 | divided_by: per_page | ceil
								-%}

								<{{ details_tag }} class="product-accordion" aria-label="{{ 'accessibility.complementary_products' | t }}"{% if is_collapsible %} open{% endif %}>
									<{{ summary_tag }} class="accordion-summary" aria-expanded="true">
										{%- liquid
											if block.settings.icon != 'none'
												render 'icon-accordion', icon: block.settings.icon
											endif
										-%}

										<h4 class="accordion-title">
											{{- block.settings.heading -}}
										</h4>

										{%- if is_collapsible -%}
											<span class="accordion-caret">
												<span class="plus">{%- render 'icon', code: 'chevron-down' -%}</span>
												<span class="minus">{%- render 'icon', code: 'chevron-down' -%}</span>
											</span>
										{%- endif -%}
									</{{ summary_tag }}>

									<div class="accordion-content details-content">
										<div class="complementary-products{% if is_carousel %} carousel-swiper{% endif %}">
											{%- if is_carousel -%}
												<template data-options data-custom-pagination>
													{
														{%- if slides > 1 -%}
															"navigation": {
																"nextEl": "{{ section_id }} [data-{{ block.id }}] .swiper-button-next",
																"prevEl": "{{ section_id }} [data-{{ block.id }}] .swiper-button-prev"
															},
															"pagination": {
																"el": "{{ section_id }} [data-{{ block.id }}] .swiper-pagination"
															},
														{%- endif -%}
														"rewind": true,
														"autoHeight": true,
														"slidesPerView": 1,
														"spaceBetween": 30
													}
												</template>
											{%- endif -%}

											<div class="complementary-products-inner{% if is_carousel %} swiper{% endif %}">
												<div class="swiper-wrapper">
													{%- for i in (1..slides) -%}
														<div class="swiper-slide">
															{%- for product in recommendations.products limit: per_page offset: continue -%}
																{%- liquid
																	assign featured_image = product.featured_media
																-%}

																<div class="complementary-card">
																	{%- if featured_image -%}
																		<div class="card-media-wrapper">
																			<div class="card-media {{ block.settings.image_ratio }}-media{% if settings.image_lazy and featured_image %} lazy-image{% endif %}">
																				<img {% if settings.image_lazy %}data-src{% else %}src{% endif %}="{{ featured_image | image_url: width: 533 }}"
																					{% if settings.image_lazy %}data-srcset{% else %}srcset{% endif %}="{%- if featured_image.width >= 370 -%}{{ featured_image | image_url: width: 370 }} 165w,{%- endif -%}
																						{%- if featured_image.width >= 540 -%}{{ featured_image | image_url: width: 540 }} 360w,{%- endif -%}
																						{%- if featured_image.width >= 740 -%}{{ featured_image | image_url: width: 740 }} 533w,{%- endif -%}
																						{%- if featured_image.width >= 840 -%}{{ featured_image | image_url: width: 840 }} 720w,{%- endif -%}
																						{%- if featured_image.width >= 960 -%}{{ featured_image | image_url: width: 960 }} 940w,{%- endif -%}
																						{%- if featured_image.width >= 1066 -%}{{ featured_image | image_url: width: 1066 }} 1066w{%- endif -%}"
																					sizes="(min-width: {{ settings.screen_lg }}px) {{ settings.screen_lg | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
																					alt="{{ featured_image.alt | escape }}"
																					loading="lazy"
																					width="{{ featured_image.width }}"
																					height="{{ featured_image.height }}"
																					{% if settings.image_lazy %}
																					class="no-js-hidden"
																					{% endif %}>

																				{% if settings.image_lazy %}
																					<noscript>
																						<img src="{{ featured_image | image_url: width: 740 }}"
																							srcset="{%- if featured_image.width >= 370 -%}{{ featured_image | image_url: width: 370 }} 165w,{%- endif -%}
																								{%- if featured_image.width >= 540 -%}{{ featured_image | image_url: width: 540 }} 360w,{%- endif -%}
																								{%- if featured_image.width >= 740 -%}{{ featured_image | image_url: width: 740 }} 533w,{%- endif -%}
																								{%- if featured_image.width >= 840 -%}{{ featured_image | image_url: width: 840 }} 720w,{%- endif -%}
																								{%- if featured_image.width >= 960 -%}{{ featured_image | image_url: width: 960 }} 940w,{%- endif -%}
																								{%- if featured_image.width >= 1066 -%}{{ featured_image | image_url: width: 1066 }} 1066w{%- endif -%}"
																							sizes="(min-width: {{ settings.screen_lg }}px) {{ settings.screen_lg | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
																							data-key="{{ featured_image.src | handle | append: '-grid' }}"
																							alt="{{ featured_image.alt | escape }}"
																							loading="{% if card_index > 1 %}lazy{% else %}eager{% endif %}"
																							width="{{ featured_image.width }}"
																							height="{{ featured_image.height }}">
																					</noscript>
																				{%- endif -%}
																			</div>

																			{% comment %} Saved price {% endcomment %}
																			{%- capture product_badge -%}
																				{%- liquid
																					capture saved_price
																						render 'saved-price', product: product
																					endcapture
																				-%}

																				{%- if product.available == false -%}
																					<span class="badge sold-out" aria-hidden="true">{{- 'products.product.sold_out' | t -}}</span>
																				{%- elsif product.compare_at_price > product.price and product.available -%}
																					<span class="badge on-sale{% if saved_price == blank %} hidden{% endif %}" aria-hidden="true">
																						<span class="sr-only">{{ 'products.product.on_sale' | t }}: </span>
																						-<span class="saved-price">{{ saved_price | default: 0 }}</span>%
																					</span>
																				{%- endif -%}
																			{%- endcapture -%}

																			{%- if product_badge != blank -%}
																				<div class="product-badge">{{- product_badge -}}</div>
																			{%- endif -%}
																		</div>
																	{%- endif -%}

																	<div class="card-content">
																		<h4 class="product-title">
																			<a href="{{ product.url | split: '?' | first }}" class="link-underline-transparent product-url">{{- product.title -}}</a>
																		</h4>

																		{%- render 'price', product: product -%}

																		{%- if block.settings.show_add_to_cart -%}
																			{%- form 'product', product, class: 'form-add-to-cart', novalidate: 'novalidate', data-type: 'add-to-cart-form', id: nil -%}
																				<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

																				{%- if product.available -%}
																					{%- if product.has_only_default_variant -%}
																						<button type="submit" name="add" class="submit add-to-cart-button">{{- 'products.product.add_to_cart' | t -}}</button>
																					{%- else -%}
																						<a href="{{ product.url | split: '?' | first }}" name="add" class="submit product-quick-view">{{- 'products.product.view_options' | t -}}</a>
																					{%- endif -%}
																				{%- else -%}
																					<button type="submit" name="add" class="submit add-to-cart-button" disabled>{{- 'products.product.sold_out' | t -}}</button>
																				{%- endif -%}
																			{%- endform -%}
																		{%- endif -%}
																	</div>
																</div>
															{%- endfor -%}
														</div>
													{%- endfor -%}
												</div>

												{%- if slides > 1 -%}
													<div class="swiper-controls">
														<button class="swiper-button-prev">{%- render 'icon', code: 'chevron-left' -%}</button>
														<div class="swiper-pagination"></div>
														<button class="swiper-button-next">{%- render 'icon', code: 'chevron-right' -%}</button>
													</div>
												{%- endif -%}
											</div>
										</div>
									</div>
								</{{ details_tag }}>
							{%- endif -%}
						</div>
				{%- endcase -%}
			</div>
		{%- endfor -%}
	</div>
</div>
