<div class="customer reset-password text-center">
	<h2 class="title">
		{{- 'customer.reset_password.title' | t -}}
	</h2>

	<p->
		{{- 'customer.reset_password.subtext' | t: email: email -}}
	</p>

	{%- form 'reset_customer_password' -%}
		{%- if form.errors -%}
			<h2 class="message error-message" tabindex="-1" autofocus>
				<span class="sr-only">{{ 'accessibility.error' | t }}: </span>
				{{- 'templates.form.error_heading' | t -}}
			</h2>

			<ul>
				{%- for field in form.errors -%}
					<li>
						{%- if field == 'form' -%}
							{{ form.errors.messages[field] }}
						{%- else -%}
							<a href="#{{ field }}">
								{{ form.errors.translated_fields[field] | capitalize }}
								{{ form.errors.messages[field] }}
							</a>
						{%- endif -%}
					</li>
				{%- endfor -%}
			</ul>
		{%- endif -%}

		<div class="field">
			<input
				type="password"
				name="customer[password]"
				id="password"
				autocomplete="new-password"
				{% if form.errors contains 'password' %}
					aria-invalid="true"
					aria-describedby="password-error"
				{% endif %}
				placeholder="{{ 'customer.reset_password.password' | t }}">

			<label for="password">
				{{- 'customer.reset_password.password' | t -}}
			</label>

			{%- if form.errors contains 'password' -%}
				<h3 id="password-error" class="message error-message">
					{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}
				</h3>
			{%- endif -%}
		</div>

		<div class="field">
			<input
				type="password"
				name="customer[password_confirmation]"
				id="password_confirmation"
				autocomplete="new-password"
				{% if form.errors contains 'password_confirmation' %}
					aria-invalid="true"
					aria-describedby="password_confirmation-error"
				{% endif %}
				placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
			<label for="password_confirmation">
				{{- 'customer.reset_password.password_confirm' | t -}}
			</label>

			{%- if form.errors contains 'password_confirmation' -%}
				<h3 id="password_confirmation-error" class="message error-message">
					{{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}
				</h3>
			{%- endif -%}
		</div>

		<button class="button solid-button medium-button">
			{{- 'customer.reset_password.submit' | t -}}
		</button>
	{%- endform -%}
</div>
