<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
	<head>
		{{ content_for_header }}
		{%- render 'stylesheet' -%}
		{%- render 'meta' -%}
		<script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
		{{- 'style.css' | asset_url | stylesheet_tag -}}
		{{ 'section-password.css' | asset_url | stylesheet_tag }}
	</head>

	<body class="password">
		<a class="sr-only" href="#main-content">
			{{- 'accessibility.skip_to_text' | t -}}
		</a>

		{% section 'main-password-header' %}

		<main id="main-content" class="password-main">
			{{ content_for_layout }}
		</main>

		{% section 'main-password-footer' %}
	</body>
</html>
