{%- liquid
	assign section_id    = '#shopify-section-' | append: section.id
	assign full          = section.settings.full
	assign image_width   = section.settings.image_width
	assign space_between = section.settings.space
	assign product       = section.settings.product
	assign content_width = section.settings.content_width
-%}

<style>
	{{ section_id }} .section-wrapper {
		padding-top: {{ section.settings.padding_top_mobile }}px;
		padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
	}

	@media (min-width: 992px) {
		{{ section_id }} .featured-product-product {
			max-width: {{ content_width }}%;
			margin: 0 auto;
		}
	}

	@media (min-width: 992px) {
		{{ section_id }} .section-wrapper {
			padding-top: {{ section.settings.padding_top }}px;
			padding-bottom: {{ section.settings.padding_bottom }}px;
		}

		{{ section_id }} .product-gallery {
			width: {{ image_width }}%;
			margin-right: {{ space_between }}px;
		}

		{{ section_id }} .product-summary {
			display: flex;
			width: calc( {{ 100 | minus: image_width }}% - {{ space_between }}px );
		}
	}

	{%- for block in section.blocks -%}
		{%- if block.type != 'collapsible-tab' and block.type != '@app' -%}
			{{ section_id }} [data-{{ block.id }}] {
				padding-bottom: {{ block.settings.padding_bottom }}px;
			}
		{%- endif -%}

		{%- case block.type -%}
			{%- when 'text' -%}
				{{ section_id }} [data-{{ block.id }}] .product-text {
					font-size: {{ block.settings.font_size }}px;
				}
			{%- when 'divider' -%}
				{{ section_id }} [data-{{ block.id }}] .product-divider {
					height: {{ block.settings.height }}px;

					{%- if block.settings.color != blank -%}
						background-color: {{ block.settings.color }};
					{%- endif -%}
				}
			{%- when 'sale-label' -%}
				{{ section_id }} .product-sale-label {
					font-size: {{ block.settings.font_size }}px;
				}
			{%- when 'title' -%}
				{{ section_id }} [data-{{ block.id }}] .product-title {
					font-size: {{ block.settings.font_size }}px;
				}
			{%- when 'price' -%}
				{{ section_id }} [data-{{ block.id }}] .product-price {
					font-size: {{ block.settings.font_size }}px;
				}
			{%- when 'variant-picker' -%}
				{{ section_id }} .swatch-image, {{ section_id }} .swatch-color {
					width: {{ block.settings.swatch_size }}px;
					height: {{ block.settings.swatch_size }}px;
				}

				{{ section_id }} .field-button {
					min-width: {{ block.settings.swatch_size }}px;
					min-height: {{ block.settings.swatch_size }}px;
				}
			{%- when 'collapsible-tab' -%}
				{{ section_id }} [data-{{ block.id }}] .accordion-title {
					font-size: {{ block.settings.heading_font_size }}px;
				}

				{{ section_id }} [data-{{ block.id }}] .accordion-content {
					font-size: {{ block.settings.content_font_size }}px;
					line-height: {{ block.settings.content_line_height }};
				}
			{%- when 'add-to-cart' -%}
				{{ section_id }} .shopify-payment-button__button--unbranded {
					{%- liquid
						if block.settings.text_transform != 'none'
							echo 'text-transform: ' | append: block.settings.text_transform
						endif
					-%}
				}
			{%- when 'countdown' -%}
				{{ section_id }} [data-{{ block.id }}] .product-countdown {
					padding: {{ block.settings.padding }}px;

					{%- if block.settings.border != blank -%}
						border: 0.1rem solid {{ block.settings.border }};
					{%- endif -%}
				}
		{%- endcase -%}

		{%- if block.settings.font_size > 30 -%}
			@media (max-width: 991px) {
				{{ section_id }} .summary-item[data-{{ block.id }}] > * {
					{%- if block.type == 'title' -%}
						font-size: calc(2.6rem + 0.390625vw);
					{%- else -%}
						font-size: calc(1.8rem + 0.390625vw);
					{%- endif -%}
				}
			}
		{%- endif -%}
	{%- endfor -%}
</style>

<div class="section-wrapper color-{{ section.settings.color_scheme }}">
	<div class="{% if full %}stretch-section stretch-padding{% else %}container{% endif %}">
		<div class="featured-product-product">
			{% comment %} Gallery {% endcomment %}
			<div class="product-gallery">
				{%- render 'product-media', media: product.media[0], position: 0, loop: false, modal_id: section.id, role: 'main' -%}
			</div>

			{% comment %} Summary {% endcomment %}
			{%- assign alignment = 'text-' | append: section.settings.summary_horizontal_align | append: ' flex-align-' | append: section.settings.summary_vertical_align -%}

			{%- if product != blank -%}
				{%- render 'product-summary', product: product, class: alignment -%}
			{%- else -%}
				<div class="product-summary {{ alignment }} onboarding">
					<div class="product-summary-inner">
						<h1 class="product-title">
							{{- 'onboarding.products.title' | t -}}
						</h1>

						<div class="product-price">
							{%- render 'price' -%}
						</div>

						<button class="button primary-button medium-button" disabled>{{- 'products.product.sold_out' | t -}}</button>

						<div class="product-description">
							{{- 'onboarding.products.description' | t -}}
						</div>
					</div>
				</div>
			{%- endif -%}
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.featured-product.name",
	"tag": "section",
	"class": "featured-product-section",
	"disabled_on": {
		"groups": ["header", "footer"]
	},
	"settings": [
		{
			"type": "checkbox",
			"id": "full",
			"default": false,
			"label": "t:sections.featured-product.settings.full.label"
		},
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "t:settings_schema.colors.label",
			"default": "scheme-1"
		},
		{
			"type": "range",
			"id": "content_width",
			"default": 100,
			"min": 60,
			"max": 100,
			"step": 1,
			"unit": "%",
			"label": "t:general.dimensions.content_width.label"
		},
		{
			"type": "range",
			"id": "space",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 30,
			"unit": "px",
			"label": "t:sections.featured-product.settings.space.label",
			"info": "t:sections.featured-product.settings.space.info"
		},
		{
			"type": "product",
			"id": "product",
			"label": "t:sections.featured-product.settings.product.label"
		},
		{
			"type": "header",
			"content": "t:sections.featured-product.settings.header_image.content"
		},
		{
			"type": "range",
			"id": "image_width",
			"min": 30,
			"max": 70,
			"step": 1,
			"default": 50,
			"unit": "%",
			"label": "t:sections.featured-product.settings.image_width.label"
		},
		{
			"type": "header",
			"content": "t:sections.featured-product.settings.header_summary.content"
		},
		{
			"type": "select",
			"id": "summary_vertical_align",
			"options": [
				{
					"value": "start",
					"label": "t:sections.featured-product.settings.summary_vertical_align.options__1.label"
				},
				{
					"value": "center",
					"label": "t:sections.featured-product.settings.summary_vertical_align.options__2.label"
				},
				{
					"value": "end",
					"label": "t:sections.featured-product.settings.summary_vertical_align.options__3.label"
				}
			],
			"default": "center",
			"label": "t:sections.featured-product.settings.summary_vertical_align.label"
		},
		{
			"type": "select",
			"id": "summary_horizontal_align",
			"options": [
				{
					"value": "left",
					"label": "t:sections.featured-product.settings.summary_horizontal_align.options__1.label"
				},
				{
					"value": "center",
					"label": "t:sections.featured-product.settings.summary_horizontal_align.options__2.label"
				},
				{
					"value": "right",
					"label": "t:sections.featured-product.settings.summary_horizontal_align.options__3.label"
				}
			],
			"default": "left",
			"label": "t:sections.featured-product.settings.summary_horizontal_align.label"
		},
		{
			"type": "header",
			"content": "t:general.padding.header_padding.content"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 50,
			"unit": "px",
			"label": "t:general.padding.top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 50,
			"unit": "px",
			"label": "t:general.padding.bottom.label"
		},
		{
			"type": "paragraph",
			"content": "t:general.padding.paragraph_mobile.content"
		},
		{
			"type": "range",
			"id": "padding_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 20,
			"unit": "px",
			"label": "t:general.padding.top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 20,
			"unit": "px",
			"label": "t:general.padding.bottom.label"
		}
	],
	"blocks": [
		{
			"type": "@app"
		},
		{
			"type": "text",
			"name": "t:sections.featured-product.blocks.text.name",
			"settings": [
				{
					"type": "text",
					"id": "text",
					"default": "Text block",
					"label": "t:sections.featured-product.blocks.text.settings.text.label"
				},
				{
					"type": "select",
					"id": "text_transform",
					"options": [
						{
							"value": "none",
							"label": "t:sections.featured-product.blocks.text.settings.text_transform.options__1.label"
						},
						{
							"value": "uppercase",
							"label": "t:sections.featured-product.blocks.text.settings.text_transform.options__2.label"
						},
						{
							"value": "capitalize",
							"label": "t:sections.featured-product.blocks.text.settings.text_transform.options__3.label"
						}
					],
					"default": "none",
					"label": "t:sections.featured-product.blocks.text.settings.text_transform.label"
				},
				{
					"type": "range",
					"id": "font_size",
					"min": 10,
					"max": 50,
					"step": 1,
					"default": 14,
					"unit": "px",
					"label": "t:sections.featured-product.blocks.text.settings.font_size.label"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 20,
					"unit": "px",
					"label": "t:sections.featured-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "sale-label",
			"name": "t:sections.featured-product.blocks.sale-label.name",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "text_transform",
					"options": [
						{
							"value": "none",
							"label": "t:sections.featured-product.blocks.sale-label.settings.text_transform.options__1.label"
						},
						{
							"value": "uppercase",
							"label": "t:sections.featured-product.blocks.sale-label.settings.text_transform.options__2.label"
						},
						{
							"value": "capitalize",
							"label": "t:sections.featured-product.blocks.sale-label.settings.text_transform.options__3.label"
						}
					],
					"default": "uppercase",
					"label": "t:sections.featured-product.blocks.sale-label.settings.text_transform.label"
				},
				{
					"type": "range",
					"id": "font_size",
					"min": 10,
					"max": 50,
					"step": 1,
					"default": 14,
					"unit": "px",
					"label": "t:sections.featured-product.blocks.sale-label.settings.font_size.label"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 20,
					"unit": "px",
					"label": "t:sections.featured-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "title",
			"name": "t:sections.featured-product.blocks.title.name",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "text_transform",
					"options": [
						{
							"value": "none",
							"label": "t:sections.featured-product.blocks.title.settings.text_transform.options__1.label"
						},
						{
							"value": "uppercase",
							"label": "t:sections.featured-product.blocks.title.settings.text_transform.options__2.label"
						},
						{
							"value": "capitalize",
							"label": "t:sections.featured-product.blocks.title.settings.text_transform.options__3.label"
						}
					],
					"default": "none",
					"label": "t:sections.featured-product.blocks.title.settings.text_transform.label"
				},
				{
					"type": "range",
					"id": "font_size",
					"min": 10,
					"max": 100,
					"step": 1,
					"default": 30,
					"unit": "px",
					"label": "t:sections.featured-product.blocks.title.settings.font_size.label"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 20,
					"unit": "px",
					"label": "t:sections.featured-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "pickup-availability",
			"name": "t:sections.featured-product.blocks.pickup-availability.name",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "t:sections.featured-product.blocks.pickup-availability.settings.info.content"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 20,
					"unit": "px",
					"label": "t:sections.featured-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "price",
			"name": "t:sections.featured-product.blocks.price.name",
			"limit": 1,
			"settings": [
				{
					"type": "range",
					"id": "font_size",
					"min": 10,
					"max": 50,
					"step": 1,
					"default": 20,
					"unit": "px",
					"label": "t:sections.featured-product.blocks.price.settings.font_size.label"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 20,
					"unit": "px",
					"label": "t:sections.featured-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "variant-picker",
			"name": "t:sections.featured-product.blocks.variant-picker.name",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "picker_type",
					"options": [
						{
							"value": "dropdown",
							"label": "t:sections.featured-product.blocks.variant-picker.settings.picker_type.options__1.label"
						},
						{
							"value": "swatch",
							"label": "t:sections.featured-product.blocks.variant-picker.settings.picker_type.options__2.label"
						}
					],
					"default": "swatch",
					"label": "t:sections.featured-product.blocks.variant-picker.settings.picker_type.label",
					"info": "t:sections.featured-product.blocks.variant-picker.settings.picker_type.info"
				},
				{
					"type": "select",
					"id": "swatch",
					"options": [
						{
							"value": "button",
							"label": "t:sections.featured-product.blocks.variant-picker.settings.swatch.options__1.label"
						},
						{
							"value": "color",
							"label": "t:sections.featured-product.blocks.variant-picker.settings.swatch.options__2.label"
						},
						{
							"value": "image",
							"label": "t:sections.featured-product.blocks.variant-picker.settings.swatch.options__3.label"
						}
					],
					"default": "image",
					"label": "t:sections.featured-product.blocks.variant-picker.settings.swatch.label",
					"info": "t:sections.featured-product.blocks.variant-picker.settings.swatch.info"
				},
				{
					"type": "select",
					"id": "swatch_style",
					"options": [
						{
							"value": "square",
							"label": "t:sections.featured-product.blocks.variant-picker.settings.swatch_style.options__1.label"
						},
						{
							"value": "circle",
							"label": "t:sections.featured-product.blocks.variant-picker.settings.swatch_style.options__2.label"
						}
					],
					"default": "square",
					"label": "t:sections.featured-product.blocks.variant-picker.settings.swatch_style.label",
					"info": "t:sections.featured-product.blocks.variant-picker.settings.swatch_style.info"
				},
				{
					"type": "range",
					"id": "swatch_size",
					"min": 10,
					"max": 100,
					"step": 1,
					"default": 40,
					"unit": "px",
					"label": "t:sections.featured-product.blocks.variant-picker.settings.swatch_size.label",
					"info": "t:sections.featured-product.blocks.variant-picker.settings.swatch_size.info"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 20,
					"unit": "px",
					"label": "t:sections.featured-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "add-to-cart",
			"name": "t:sections.featured-product.blocks.add-to-cart.name",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "text_transform",
					"options": [
						{
							"value": "none",
							"label": "t:sections.featured-product.blocks.add-to-cart.settings.text_transform.options__1.label"
						},
						{
							"value": "uppercase",
							"label": "t:sections.featured-product.blocks.add-to-cart.settings.text_transform.options__2.label"
						},
						{
							"value": "capitalize",
							"label": "t:sections.featured-product.blocks.add-to-cart.settings.text_transform.options__3.label"
						}
					],
					"default": "capitalize",
					"label": "t:sections.featured-product.blocks.add-to-cart.settings.text_transform.label"
				},
				{
					"type": "checkbox",
					"id": "quantity_selector",
					"default": true,
					"label": "t:sections.featured-product.blocks.add-to-cart.settings.quantity_selector.label"
				},
				{
					"type": "checkbox",
					"id": "dynamic_checkout",
					"default": true,
					"label": "t:sections.featured-product.blocks.add-to-cart.settings.dynamic_checkout.label",
					"info": "t:sections.featured-product.blocks.add-to-cart.settings.dynamic_checkout.info"
				},
				{
					"type": "checkbox",
					"id": "show_gift_card",
					"default": true,
					"label": "t:sections.featured-product.blocks.add-to-cart.settings.show_gift_card.label",
					"info": "t:sections.featured-product.blocks.add-to-cart.settings.show_gift_card.info"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 20,
					"unit": "px",
					"label": "t:sections.featured-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "description",
			"name": "t:sections.featured-product.blocks.description.name",
			"limit": 1,
			"settings": [
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 20,
					"unit": "px",
					"label": "t:sections.featured-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "share",
			"name": "t:sections.featured-product.blocks.share.name",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "share_label",
					"label": "t:sections.featured-product.blocks.share.settings.text.label",
					"default": "Share"
				},
				{
					"type": "paragraph",
					"content": "t:sections.featured-product.blocks.share.settings.featured_image_info.content"
				},
				{
					"type": "paragraph",
					"content": "t:sections.featured-product.blocks.share.settings.title_info.content"
				},
				{
					"type": "select",
					"id": "type",
					"options": [
						{
							"value": "social",
							"label": "t:sections.featured-product.blocks.share.settings.type.options__1.label"
						},
						{
							"value": "os",
							"label": "t:sections.featured-product.blocks.share.settings.type.options__2.label"
						}
					],
					"default": "social",
					"label": "t:sections.featured-product.blocks.share.settings.type.label"
				},
				{
					"type": "select",
					"id": "style",
					"options": [
						{
							"value": "outline",
							"label": "t:sections.featured-product.blocks.share.settings.style.options__1.label"
						},
						{
							"value": "solid",
							"label": "t:sections.featured-product.blocks.share.settings.style.options__2.label"
						}
					],
					"default": "outline",
					"label": "t:sections.featured-product.blocks.share.settings.style.label"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 20,
					"unit": "px",
					"label": "t:sections.featured-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "custom-liquid",
			"name": "t:sections.featured-product.blocks.custom-liquid.name",
			"settings": [
				{
					"type": "liquid",
					"id": "custom-liquid",
					"label": "t:sections.featured-product.blocks.custom-liquid.settings.custom-liquid.label",
					"info": "t:sections.featured-product.blocks.custom-liquid.settings.custom-liquid.info"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 20,
					"unit": "px",
					"label": "t:sections.featured-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "collapsible-tab",
			"name": "t:sections.featured-product.blocks.collapsible-tab.name",
			"settings": [
				{
					"type": "text",
					"id": "heading",
					"default": "Collapsible tab",
					"info": "t:sections.featured-product.blocks.collapsible-tab.settings.heading.info",
					"label": "t:sections.featured-product.blocks.collapsible-tab.settings.heading.label"
				},
				{
					"type": "checkbox",
					"id": "strong",
					"default": true,
					"label": "t:sections.featured-product.blocks.collapsible-tab.settings.strong.label"
				},
				{
					"type": "richtext",
					"id": "content",
					"label": "t:sections.featured-product.blocks.collapsible-tab.settings.content.label"
				},
				{
					"type": "page",
					"id": "page",
					"label": "t:sections.featured-product.blocks.collapsible-tab.settings.page.label"
				},
				{
					"type": "select",
					"id": "icon",
					"options": [
						{
							"value": "none",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__1.label"
						},
						{
							"value": "box",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__2.label"
						},
						{
							"value": "chat_bubble",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__3.label"
						},
						{
							"value": "check_mark",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__4.label"
						},
						{
							"value": "dryer",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__5.label"
						},
						{
							"value": "eye",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__6.label"
						},
						{
							"value": "heart",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__7.label"
						},
						{
							"value": "iron",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__8.label"
						},
						{
							"value": "leaf",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__9.label"
						},
						{
							"value": "leather",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__10.label"
						},
						{
							"value": "lock",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__11.label"
						},
						{
							"value": "map_pin",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__12.label"
						},
						{
							"value": "pants",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__13.label"
						},
						{
							"value": "plane",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__14.label"
						},
						{
							"value": "price_tag",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__15.label"
						},
						{
							"value": "question_mark",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__16.label"
						},
						{
							"value": "return",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__17.label"
						},
						{
							"value": "ruler",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__18.label"
						},
						{
							"value": "shirt",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__19.label"
						},
						{
							"value": "shoe",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__20.label"
						},
						{
							"value": "silhouette",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__21.label"
						},
						{
							"value": "star",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__22.label"
						},
						{
							"value": "truck",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__23.label"
						},
						{
							"value": "washing",
							"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.options__24.label"
						}
					],
					"default": "none",
					"label": "t:sections.featured-product.blocks.collapsible-tab.settings.icon.label"
				}
			]
		},
		{
			"type": "popup",
			"name": "t:sections.featured-product.blocks.popup.name",
			"settings": [
				{
					"type": "text",
					"id": "text",
					"default": "Pop-up link text",
					"label": "t:sections.featured-product.blocks.popup.settings.link_label.label"
				},
				{
					"type": "select",
					"id": "style",
					"options": [
						{
							"value": "outline",
							"label": "t:sections.featured-product.blocks.add-to-cart.settings.style.options__1.label"
						},
						{
							"value": "solid",
							"label": "t:sections.featured-product.blocks.add-to-cart.settings.style.options__2.label"
						}
					],
					"default": "outline",
					"label": "t:sections.featured-product.blocks.add-to-cart.settings.style.label"
				},
				{
					"id": "page",
					"type": "page",
					"label": "t:sections.featured-product.blocks.popup.settings.page.label"
				},
				{
					"type": "range",
					"id": "padding_bottom",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 20,
					"unit": "px",
					"label": "t:sections.featured-product.settings.padding_bottom.label"
				}
			]
		},
		{
			"type": "divider",
			"name": "t:sections.main-product.blocks.divider.name",
			"settings": [
				{
					"type": "color",
					"id": "color",
					"label": "t:general.background.color.label"
				},
				{
					"type": "range",
					"id": "height",
					"min": 0,
					"max": 100,
					"step": 1,
					"unit": "px",
					"default": 1,
					"label": "t:general.dimensions.height.label"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.featured-product.presets.name",
			"blocks": [
				{
					"type": "title"
				},
				{
					"type": "price"
				},
				{
					"type": "variant-picker"
				},
				{
					"type": "add-to-cart"
				},
				{
					"type": "description"
				},
				{
					"type": "share"
				}
			]
		}
	]
}
{% endschema %}
