{% comment %} https://codepen.io/rashon/pen/mdgrxyg {% endcomment %}

{% comment %} https://www.walmart.com/ip/Athletic-Works-24oz-Aqua-Protein-Drink-Shaker-Bottle-W-Mixing-Ball/644415102?athbdg=L1102 {% endcomment %}

{% comment %} https://github.com/googlemaps-samples/codelab-locator-maps-js {% endcomment %}


<!DOCTYPE html>
<html>
  <head>
    <title>Locator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="locatorplus.css" rel="stylesheet">
    <script>
      const CONFIGURATION = {
        "locations": [
          {"title":"Escondido Grill","address1":"601 Geary St","address2":"San Francisco, CA 94102, USA","coords":{"lat":37.7866,"lng":-122.4133},"placeId":"ChIJ5Sz52pGAhYAR1raOybzuDp8","actions":[{"label":"Reserve a table","defaultUrl":"https://www.gstatic.com/pantheon/images/maps/reserve_with_google_preview_v1.png"}]},
          {"title":"Escondido Grill","address1":"747 3rd St","address2":"San Francisco, CA 94107, USA","coords":{"lat":37.7785,"lng":-122.392},"placeId":"ChIJeyVKpNd_j4ARLUED10OEr1s","actions":[{"label":"Reserve a table","defaultUrl":"https://www.gstatic.com/pantheon/images/maps/reserve_with_google_preview_v1.png"}]},
          {"title":"Escondido Grill","address1":"1512 Stockton St","address2":"San Francisco, CA 94133, USA","coords":{"lat":37.7998,"lng":-122.4089},"placeId":"ChIJgYMdZvGAhYAR2ifWKOR5ek8","actions":[{"label":"Reserve a table","defaultUrl":"https://www.gstatic.com/pantheon/images/maps/reserve_with_google_preview_v1.png"}]},
          {"title":"Escondido Grill","address1":"50 Clement St","address2":"San Francisco, CA 94118, USA","coords":{"lat":37.7833,"lng":-122.46},"placeId":"ChIJk_FWiDmHhYARgDVidBVO_RM","actions":[{"label":"Reserve a table","defaultUrl":"https://www.gstatic.com/pantheon/images/maps/reserve_with_google_preview_v1.png"}]},
          {"title":"Escondido Grill","address1":"3755 Noriega St","address2":"San Francisco, CA 94122, USA","coords":{"lat":37.7529,"lng":-122.5042},"placeId":"ChIJ_2knd4-HhYARI5PPNZ7aasA","actions":[{"label":"Reserve a table","defaultUrl":"https://www.gstatic.com/pantheon/images/maps/reserve_with_google_preview_v1.png"}]},
          {"title":"Escondido Grill","address1":"2619 Mission St","address2":"San Francisco, CA 94110, USA","coords":{"lat":37.7552,"lng":-122.4184},"placeId":"ChIJSwWfLT9-j4ARMGcgMs-tBRE","actions":[{"label":"Reserve a table","defaultUrl":"https://www.gstatic.com/pantheon/images/maps/reserve_with_google_preview_v1.png"}]},
          {"title":"Escondido Grill","address1":"4935 Mission St","address2":"San Francisco, CA 94112, USA","coords":{"lat":37.7194,"lng":-122.4386},"placeId":"ChIJtYdd3IR-j4ARSybFjVnGTBw","actions":[{"label":"Reserve a table","defaultUrl":"https://www.gstatic.com/pantheon/images/maps/reserve_with_google_preview_v1.png"}]},
          {"title":"Escondido Grill","address1":"6202 3rd St","address2":"San Francisco, CA 94124, USA","coords":{"lat":37.7223,"lng":-122.396},"placeId":"ChIJ0VRZVB9_j4ARaB7r66H67eg","actions":[{"label":"Reserve a table","defaultUrl":"https://www.gstatic.com/pantheon/images/maps/reserve_with_google_preview_v1.png"}]}
        ],
        "mapOptions": {"center":{"lat":38.0,"lng":-100.0},"fullscreenControl":true,"mapTypeControl":false,"streetViewControl":false,"zoom":4,"zoomControl":true,"maxZoom":17,"mapId":""},
        "mapsApiKey": "AIzaSyDgKuSM2yc5Zxre6oC4siDto6BejgCUbBA",
        "capabilities": {"input":true,"autocomplete":true,"directions":false,"distanceMatrix":true,"details":false,"actions":true}
      };

    </script>
    <script src="locatorplus.js" type="module"></script>
  </head>
  <body>
    <!-- Please note unpkg.com is unaffiliated with Google Maps Platform. -->
    <script type="module" src="https://unpkg.com/@googlemaps/extended-component-library@0.6"></script>

    <!-- Uses components from the Extended Component Library; see
         https://github.com/googlemaps/extended-component-library for more information
         on these HTML tags and how to configure them. -->
    <gmpx-api-loader key="AIzaSyDgKuSM2yc5Zxre6oC4siDto6BejgCUbBA" solution-channel="GMP_QB_locatorplus_v10_cABDF"></gmpx-api-loader>
    <gmpx-store-locator map-id="DEMO_MAP_ID"></gmpx-store-locator>
  </body>
</html>









{%- assign pick_up_availabilities = product_variant.store_availabilities | where: 'pick_up_enabled', true -%}

{%- if pick_up_availabilities.size > 0 -%}
	{%- assign closest_location = pick_up_availabilities.first -%}
	<div class="store-locator-info">
		<span class="store-locator-icon">
			{%- liquid
				if closest_location.available
					render 'icon', code: 'success'
				else
					render 'icon', code: 'error'
				endif
			-%}
		</span>

		<div class="store-locator-info-inner">
			{%- if closest_location.available -%}
				<p class="store-locator-info-title">
					{{- 'products.product.pickup_availability.pick_up_available_at_html' | t: location_name: closest_location.location.name -}}
				</p>

				<p class="store-locator-availability-stock">
					{{- closest_location.pick_up_time -}}
				</p>

				<button class="toggle-modal" aria-haspopup="dialog">
					{%- liquid
						if pick_up_availabilities.size == 1
							echo 'products.product.pickup_availability.view_store_info' | t
						else
							echo 'products.product.pickup_availability.check_other_stores' | t
						endif
					-%}
				</button>
			{%- else -%}
				<p class="store-locator-info-title">
					{{ 'products.product.pickup_availability.pick_up_unavailable_at_html' | t: location_name: closest_location.location.name }}
				</p>

				{%- if pick_up_availabilities.size > 1 -%}
					<button class="toggle-modal" aria-haspopup="dialog">
						{{ 'products.product.pickup_availability.check_other_stores' | t }}
					</button>
				{%- endif -%}
			{%- endif -%}
		</div>
	</div>

	<div class="store-locator-modal" role="dialog" aria-modal="true" aria-labelledby="store-locator-modal-product-title">
		<div class="store-locator-header">
			<h2 id="store-locator-modal-product-title" class="store-locator-product-title">{{- product_variant.product.title -}}</h2>

			<p class="store-locator-variant-title">
				{{- product_variant.title -}}
			</p>

			<button class="button secondary-button close-button" aria-label="{{ 'accessibility.close' | t }}">
				{%- render 'icon', code: 'close-thin' -%}
			</button>
		</div>

		<ul class="store-locator-list" role="list">
			{%- for availability in pick_up_availabilities -%}
				<li class="store-locator-item">
					<h3 class="pickup-availability-location">
						{{- availability.location.name -}}
					</h3>

					<div class="store-locator-stock">
						{%- liquid
							if availability.available
								render 'icon', code: 'success'
								echo 'products.product.pickup_availability.pick_up_available' | t
								echo availability.pick_up_time | prepend: ' ' | downcase
							endif
						-%}
					</div>

					{%- assign address = availability.location.address -%}

					<address class="store-locator-address">
						{{- address | format_address -}}
					</address>

					{%- if address.phone.size > 0 -%}
						<p>{{- address.phone -}}</p>
					{%- endif -%}
				</li>
			{%- endfor -%}
		</ul>
	</div>
{%- endif -%}
