{%- liquid
	assign section_id   = '#shopify-section-' | append: section.id
	assign full         = section.settings.full
	assign layout       = section.settings.layout
	assign image        = section.settings.image
	assign mobile_image = section.settings.mobile_image
	assign heading      = section.settings.heading_text
	assign description  = section.settings.text
	assign button       = section.settings.button_text
-%}

<style>
	{{ section_id }} .section-wrapper {
		margin-top: {{ section.settings.padding_top_mobile }}px;
		margin-bottom: {{ section.settings.padding_bottom_mobile }}px;
	}

	@media (min-width: 992px) {
		{{ section_id }} .section-wrapper {
			margin-top: {{ section.settings.padding_top }}px;
			margin-bottom: {{ section.settings.padding_bottom }}px;
		}

		{{ section_id }} .image-with-text {
			height: {% if section.settings.height == 0 %}auto{% else %}{{ section.settings.height }}px{% endif %};
		}

		{{ section_id }} .heading {
			font-size: {{ section.settings.heading_font_size }}px;
		}

		{{ section_id }} .description {
			font-size: {{ section.settings.text_size }}px;
		}

		{{ section_id }} .button {
			font-size: {{ section.settings.button_size }}px;
		}
	}

	@media (min-width: {{ settings.screen_lg | default: 1200 }}px) {
		{{ section_id }} .content-inner {
			width: {{ section.settings.width }}%;
		}
	}
</style>

<div class="section-wrapper color-{{ section.settings.color_scheme }}">
	<div class="{% if full %}stretch-section{% else %}container{% endif %}">
		<div class="image-with-text {{ layout }}-first">
			<div class="image adapt-media">
				<div class="{% if image == blank %}adapt-svg-placeholder {% endif %}{% if mobile_image %}hidden-tablet hidden-mobile{% endif %}{% if settings.image_lazy and image %} lazy-image{% endif %}">
					{%- liquid
						if image != blank
							render 'lazy-image', image: image, width: 1200
						else
							render 'icon', code: 'placeholder'
						endif
					-%}
				</div>

				{%- if mobile_image != blank -%}
					<div class="hidden-desktop{% if settings.image_lazy and mobile_image %} lazy-image{% endif %}">
						{%- render 'lazy-image', image: mobile_image, width: 900 -%}
					</div>
				{%- endif -%}
			</div>

			<div class="content">
				<div class="content-inner text-{{ section.settings.align }}">
					{%- if heading != blank -%}
						<div class="heading rte">{{- heading -}}</div>
					{%- endif -%}

					{%- if description != blank -%}
						<div class="description rte">{{- description -}}</div>
					{%- endif -%}

					{%- if button != blank -%}
						<div class="button-wrap">
							<a class="button secondary-button" href="{{ section.settings.button_link | default: '#' }}">{{- button -}}</a>
						</div>
					{%- endif -%}
				</div>
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.image-with-text.name",
	"tag": "section",
	"class": "image-with-text-section",
	"disabled_on": {
		"groups": ["header", "footer"]
	},
	"settings": [
		{
			"type": "checkbox",
			"id": "full",
			"default": true,
			"label": "t:general.layout.full.label"
		},
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "t:settings_schema.colors.label",
			"default": "scheme-1"
		},
		{
			"type": "number",
			"id": "height",
			"default": 746,
			"label": "t:general.dimensions.height_px.label",
			"info": "t:general.dimensions.height_auto.label"
		},
		{
			"type": "select",
			"id": "layout",
			"options": [
				{
					"value": "image",
					"label": "t:sections.image-with-text.settings.layout.option_1.label"
				},
				{
					"value": "text",
					"label": "t:sections.image-with-text.settings.layout.option_2.label"
				}
			],
			"default": "image",
			"label": "t:sections.image-with-text.settings.layout.label",
			"info": "t:sections.image-with-text.settings.layout.info"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "t:general.image.label"
		},
		{
			"type": "image_picker",
			"id": "mobile_image",
			"label": "t:sections.image-with-text.settings.mobile_image.label"
		},
		{
			"type": "header",
			"content": "t:sections.image-with-text.settings.header_content.content"
		},
		{
			"type": "range",
			"min": 20,
			"max": 100,
			"step": 1,
			"id": "width",
			"default": 50,
			"unit": "%",
			"label": "t:sections.image-with-text.settings.width.label",
			"info": "t:sections.image-with-text.settings.width.info"
		},
		{
			"type": "select",
			"id": "align",
			"options": [
				{
					"value": "left",
					"label": "t:general.layout.alignment.option_1.label"
				},
				{
					"value": "center",
					"label": "t:general.layout.alignment.option_2.label"
				},
				{
					"value": "right",
					"label": "t:general.layout.alignment.option_3.label"
				}
			],
			"default": "left",
			"label": "t:general.layout.alignment.label"
		},
		{
			"type": "header",
			"content": "t:general.typography.heading.label"
		},
		{
			"type": "richtext",
			"id": "heading_text",
			"default": "<h3>Image with text</h3>",
			"label": "t:general.typography.text.label"
		},
		{
			"type": "range",
			"id": "heading_font_size",
			"min": 10,
			"max": 100,
			"step": 1,
			"default": 48,
			"unit": "px",
			"label": "t:general.typography.font_size.label"
		},
		{
			"type": "header",
			"content": "t:general.typography.description.label"
		},
		{
			"type": "richtext",
			"id": "text",
			"default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
			"label": "t:general.typography.text.label"
		},
		{
			"type": "range",
			"id": "text_size",
			"min": 10,
			"max": 100,
			"step": 1,
			"default": 16,
			"unit": "px",
			"label": "t:general.typography.font_size.label"
		},
		{
			"type": "header",
			"content": "t:general.typography.button.label"
		},
		{
			"type": "text",
			"id": "button_text",
			"default": "Button label",
			"label": "t:general.typography.text.label"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "t:general.typography.link.label"
		},
		{
			"type": "range",
			"id": "button_size",
			"min": 10,
			"max": 100,
			"step": 1,
			"default": 16,
			"unit": "px",
			"label": "t:general.typography.font_size.label"
		},
		{
			"type": "header",
			"content": "t:general.padding.header_padding.content"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 50,
			"unit": "px",
			"label": "t:general.padding.top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 50,
			"unit": "px",
			"label": "t:general.padding.bottom.label"
		},
		{
			"type": "paragraph",
			"content": "t:general.padding.paragraph_mobile.content"
		},
		{
			"type": "range",
			"id": "padding_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 20,
			"unit": "px",
			"label": "t:general.padding.top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 20,
			"unit": "px",
			"label": "t:general.padding.bottom.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.image-with-text.presets.name"
		}
	]
}
{% endschema %}
