{%- if section.settings.color != blank or section.settings.bg_color != blank -%}
	{%- assign section_id = '#shopify-section-' | append: section.id -%}

	<style>
		{{ section_id }} {
			background-color: {{ section.settings.bg_color | default: '#ffffff' }};
		}

		{{ section_id }} * {
			color: {{ section.settings.color | default: 'var(--link-color)' }};
		}
	</style>
{%- endif -%}

<footer class="footer">
	<div class="container">
		<div class="password-footer text-center">
			{%- render 'social-media' -%}

			<p class="password-footer-login">{{- 'general.password_page.admin_link_html' | t -}}</p>
		</div>
	</div>
</footer>

{% schema %}
{
	"name": "t:sections.main-password-footer.name",
	"settings": [
		{
			"type": "color",
			"id": "color",
			"label": "t:sections.main-password-footer.settings.color.label"
		},
		{
			"type": "color",
			"id": "bg_color",
			"label": "t:sections.main-password-footer.settings.bg_color.label"
		}
	]
}
{% endschema %}
