{%- liquid
	assign section_id = '#shopify-section-' | append: section.id
	assign layout     = section.settings.layout
	assign heading    = section.settings.heading
-%}

<style>
	{{ section_id }} .section-wrapper {
		padding-top: {{ section.settings.padding_top_mobile }}px;
		padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
	}

	@media (min-width: 992px) {
		{{ section_id }} .testi-head {
			font-size: {{ section.settings.heading_font_size }}px;
			margin-bottom: {{ section.settings.heading_space }}px;
		}
	}

	{%- for block in section.blocks -%}
		@media (min-width: 992px) {
			{{ section_id }} [data-{{ block.id }}] .testi-body {
				font-size: {{ block.settings.body_font_size }}px;
				margin-bottom: {{ block.settings.body_space }}px;
			}

			{{ section_id }} [data-{{ block.id }}] .testi-footer {
				font-size: {{ block.settings.footer_font_size }}px;
				margin-bottom: {{ block.settings.footer_space }}px;
			}
		}
	{%- else -%}
		@media (min-width: 992px) {
			{{ section_id }} .testi-body {
				font-size: 48px;
				margin-bottom: 43px;
			}

			{{ section_id }} .testi-footer {
				font-size: 20px;
				margin-bottom: 30px;
			}
		}
	{%- endfor -%}

	@media (min-width: 992px) {
		{{ section_id }} .section-wrapper {
			padding-top: {{ section.settings.padding_top }}px;
			padding-bottom: {{ section.settings.padding_bottom }}px;
		}
	}
</style>

<div class="section-wrapper color-{{ section.settings.color_scheme }}">
	<div class="container">
		<div class="testimonial-product {{ layout }}-layout">
			{%- if layout == 'image' -%}
				<div class="image-content">
					<div class="swiper">
						<div class="swiper-wrapper">
							{%- for block in section.blocks -%}
								<div class="swiper-slide" {{ block.shopify_attributes }}>
									{%- assign image = block.settings.image -%}

									<div class="adapt-media">
										<div class="image{% if settings.image_lazy and image %} lazy-image{% endif %}">
											{%- liquid
												if image
													render 'lazy-image', image: image, width: 910
												else
													echo 'image' | placeholder_svg_tag: 'placeholder-svg'
												endif
											-%}
										</div>
									</div>
								</div>
							{%- else -%}
								{%- for i in (1..3) -%}
									<div class="swiper-slide" {{ block.shopify_attributes }}>
										{{- 'image' | placeholder_svg_tag: 'placeholder-svg' -}}
									</div>
								{%- endfor -%}
							{%- endfor -%}
						</div>
					</div>
				</div>
			{%- endif -%}

			<div class="text-content">
				{%- if heading != blank -%}
					<div class="testi-head heading-color">
						{{- heading -}}
					</div>
				{%- endif -%}

				<div class="swiper">
					<div class="swiper-wrapper">
						{%- for block in section.blocks -%}
							<div class="swiper-slide" data-{{ block.id }} class="rte">
								{%- liquid
									assign body_text   = block.settings.body_text
									assign footer_text = block.settings.footer_text
									assign product     = block.settings.product
								-%}

								{%- if body_text != blank -%}
									<div class="testi-body heading-color">
										{{- body_text -}}
									</div>
								{%- endif -%}

								{%- if footer_text != blank -%}
									<div class="testi-footer heading-color">
										{%- liquid
											if block.settings.avatar != blank
												echo block.settings.avatar | image_url: width: 250 | image_tag: width: 50, loading: 'lazy', class: 'author-avatar'
											endif

											echo footer_text
										-%}
									</div>
								{%- endif -%}

								{%- if product != blank -%}
									<div class="product-card">
										{%- liquid
											assign featured_image = product.featured_media
										-%}

										{% comment %} Media {% endcomment %}
										{%- if featured_image != blank -%}
											<div class="product-media-wrap adapt-media">
												<a href="{{ product.url | split: '?' | first }}"{% if settings.image_lazy %} class="lazy-image"{% endif %} arial-label="{{ product.title }}">
													{%- liquid
														assign image_key = featured_image.src | handle

														render 'lazy-image', image: featured_image, width: 200, class: 'product-first-image', data-key: image_key
													-%}
												</a>
											</div>
										{%- endif -%}

										<div class="product-content">
											{% comment %} Swatch {% endcomment %}
											{%- if settings.card_show_swatches and product.has_only_default_variant == false and product.options.size > 0 -%}
												{%- assign swatch = settings.swatch_type -%}

												{%- for option in product.options_with_values -%}
													{%- liquid
														assign name           = option.name | downcase
														assign variant_option = 'option' | append: forloop.index
														assign have_color     = forloop.index0
													-%}

													{%- if have_color and name == 'color' or name == 'colour' -%}
														<div class="product-swatches swatch-{{ settings.swatch_style }}" data-url="{{ product.url }}">
															{%- for value in option.values -%}
																{%- liquid
																	assign variant          = product.variants[ forloop.index0 ]
																	assign color            = value | handle | remove: '-'
																	assign swatch_file_name = value | handle | append: '.png'
																	assign swatch_file      = swatch_file_name | file_url
																	assign is_swatch_png    = false

																	# Check .png file available.
																	if swatch_file contains '?v='
																		assign is_swatch_png = true
																	endif

																	capture swatch_file_class
																		if is_swatch_png
																			echo ' swatch-png'
																		endif
																	endcapture

																	# Check valid color.
																	assign is_valid_color = color | color_to_rgb

																	# Check metafield color.
																	if variant.metafields.color.value
																		assign color          = variant.metafields.color.value
																		assign is_valid_color = true
																	endif

																	# Check contrast color.
																	assign contrast = color | color_contrast: '#ffffff'
																	capture contrast_class
																		if contrast < 4.5
																			echo ' dark'
																		endif
																	endcapture

																	for variant in product.variants
																		if variant[variant_option] == value
																			assign variant_for_value = variant
																			break
																		endif
																	endfor

																	assign quantity = variant.inventory_quantity

																	capture stock_status
																		if quantity == 0 and variant.available == false and product.options.size == 1
																			echo ' soldout'
																		endif
																	endcapture

																	capture selected_class
																		if option.selected_value == value
																			echo ' selected'
																		endif
																	endcapture

																	# Print swatch image
																	capture swatch_file_img
																		if is_swatch_png
																			echo images[swatch_file_name] | image_url: width: 768 | image_tag
																		endif
																	endcapture
																-%}

																{%- if swatch == 'color' -%}
																	{%- liquid
																		capture is_valid_color_class
																			unless is_swatch_png
																				unless is_valid_color
																					echo ' invalid-color'
																				endunless
																			endunless
																		endcapture
																	-%}

																	<a class="swatch swatch-{{ swatch }}{{ contrast_class }}{{ stock_status }}{{ swatch_file_class }}{{ is_valid_color_class }}{{ selected_class }}"
																		data-name="{{ option.name | escape }}"
																		data-value="{{ value | escape }}"
																		href="{{ variant_for_value.url | within: collection }}"
																		{% if is_valid_color %}style="background-color: {{ color }};"{% endif %}
																		{% if variant_for_value.featured_media != blank %}
																		data-key="{{ variant_for_value.featured_image.src | handle | append: '-grid' }}"
																		data-src="{{ variant_for_value.featured_media | image_url: width: 768 }}{% endif %}">
																		<span class="{% if is_valid_color_class == blank %}sr-only {% endif %}swatch-value">{{- value }}</span>
																		{% if is_valid_color_class != blank %}<span class="sold-out">({{ 'products.product.sold_out' | t }})</span>{% endif %}
																		{{- swatch_file_img -}}
																	</a>
																{%- elsif swatch == 'image' -%}
																	{% liquid
																		capture swatch_image_class
																			unless is_swatch_png
																				if variant_for_value.featured_media
																					echo ' swatch-image'
																				else
																					if is_valid_color
																						echo ' swatch-color'
																					else
																						echo ' invalid-color'
																					endif

																					echo contrast_class
																				endif
																			endunless
																		endcapture
																	%}

																	<a class="swatch{{ swatch_image_class }}{{ swatch_file_class }}{{ stock_status }}{{ selected_class }}"
																		data-name="{{ option.name | escape }}"
																		data-value="{{ value | escape }}"
																		href="{{ variant_for_value.url | within: collection }}"
																		data-key="{{ variant_for_value.featured_image.src | handle | append: '-grid' }}"{% if variant_for_value.featured_media != blank %}
																		data-src="{{ variant_for_value.featured_media | image_url: width: 768 }}"{% endif %}
																		{% unless variant_for_value.featured_media %}{% if is_valid_color %}style="background-color: {{ color }};"{% endif %}{% endunless %}>
																		<span class="{% if is_valid_color_class == blank %}sr-only {% endif %}swatch-value">{{- value -}}</span>

																		{%- liquid
																			if is_swatch_png
																				echo swatch_file_img
																			elsif variant_for_value.featured_media
																				echo variant_for_value.featured_media | image_url: width: 200, height: 200, crop: 'center' | image_tag: loading: 'lazy'
																			endif
																		-%}
																	</a>
																{%- else -%}
																	<a class="swatch swatch-{{ swatch }}{{ selected_class }}{{ stock_status }}"
																		data-name="{{ option.name | escape }}"
																		data-value="{{ value | escape }}"
																		href="{{ variant_for_value.url | within: collection }}"
																		data-key="{{ variant_for_value.featured_image.src | handle | append: '-grid' }}"{% if variant_for_value.featured_media != blank %}
																		data-src="{{ variant_for_value.featured_media | image_url: width: 768 }}"{% endif %}>
																		{{- value -}}
																	</a>
																{%- endif -%}
															{%- endfor -%}

															{%- if swatch != 'button' -%}
																<span class="swatch-selected">{{- option.selected_value -}}</span>
															{%- endif -%}
														</div>
													{%- endif -%}
												{%- endfor -%}
											{%- endif -%}

											{% comment %} Heading {% endcomment %}
											<h2 class="product-title">
												<a href="{{ product.url | split: '?' | first }}">{{- product.title | escape -}}</a>
											</h2>

											{%- render 'price', product: product -%}
										</div>
									</div>
								{%- endif -%}
							</div>
						{%- else -%}
							{%- for i in (1..3) -%}
								<div class="swiper-slide" data-id="{{ forloop.index }}">
									<div class="testi-body">{{- 'onboarding.testimonial.body_text' | t -}}</div>
									<div class="testi-footer">{{- 'onboarding.testimonial.footer_text' | t -}}</div>
								</div>
							{%- endfor -%}
						{%- endfor -%}
					</div>
				</div>

				{%- if layout == 'image' -%}
					<div class="swiper-controls">
						<button class="swiper-button-prev">{%- render 'icon', code: 'arrow-left-short' -%}</button>
						<button class="swiper-button-next">{%- render 'icon', code: 'arrow-right-short' -%}</button>
					</div>

					<div class="swiper-pagination" tabindex="-1"></div>
				{%- endif -%}
			</div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.testimonial-product.name",
	"tag": "section",
	"class": "testimonial-product-section",
	"disabled_on": {
		"groups": ["header", "footer"]
	},
	"settings": [
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "t:settings_schema.colors.label",
			"default": "scheme-1"
		},
		{
			"type": "select",
			"id": "layout",
			"default": "image",
			"label": "t:sections.testimonial-product.settings.layout.label",
			"options": [
				{
					"value": "image",
					"label": "t:sections.testimonial-product.settings.layout.option_1.label"
				},
				{
					"value": "content",
					"label": "t:sections.testimonial-product.settings.layout.option_2.label"
				}
			]
		},
		{
			"type": "header",
			"content": "t:sections.testimonial-product.settings.heading.content"
		},
		{
			"type": "richtext",
			"id": "heading",
			"default": "<p>Heading Testimonial</p>",
			"label": "t:general.typography.text.label"
		},
		{
			"type": "range",
			"id": "heading_font_size",
			"min": 10,
			"max": 100,
			"step": 1,
			"default": 13,
			"unit": "px",
			"label": "t:general.typography.font_size.label"
		},
		{
			"type": "range",
			"id": "heading_space",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 30,
			"unit": "px",
			"label": "t:general.dimensions.space.label"
		},
		{
			"type": "header",
			"content": "t:general.padding.header_padding.content"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 100,
			"unit": "px",
			"label": "t:general.padding.top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 100,
			"unit": "px",
			"label": "t:general.padding.bottom.label"
		},
		{
			"type": "paragraph",
			"content": "t:general.padding.paragraph_mobile.content"
		},
		{
			"type": "range",
			"id": "padding_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 20,
			"unit": "px",
			"label": "t:general.padding.top.label"
		},
		{
			"type": "range",
			"id": "padding_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 64,
			"unit": "px",
			"label": "t:general.padding.bottom.label"
		}
	],
	"blocks": [
		{
			"type": "slide",
			"name": "t:general.slide.label",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "t:general.image.label"
				},
				{
					"type": "product",
					"id": "product",
					"label": "t:sections.testimonial-product.settings.product.label"
				},
				{
					"type": "header",
					"content": "t:sections.testimonial-product.settings.body_text.content"
				},
				{
					"type": "richtext",
					"id": "body_text",
					"default": "<p>“Description feedback from your buyers”</p>",
					"label": "t:general.typography.text.label"
				},
				{
					"type": "range",
					"id": "body_font_size",
					"min": 10,
					"max": 100,
					"step": 1,
					"default": 48,
					"unit": "px",
					"label": "t:general.typography.font_size.label"
				},
				{
					"type": "range",
					"id": "body_space",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 30,
					"unit": "px",
					"label": "t:general.dimensions.space.label"
				},
				{
					"type": "header",
					"content": "t:sections.testimonial-product.settings.footer_text.content"
				},
				{
					"type": "image_picker",
					"id": "avatar",
					"label": "t:sections.testimonial-product.settings.avatar.label"
				},
				{
					"type": "richtext",
					"id": "footer_text",
					"default": "<p><b>— Buyer's name,</b> Buyer's location</p>",
					"label": "t:general.typography.text.label"
				},
				{
					"type": "range",
					"id": "footer_font_size",
					"min": 10,
					"max": 100,
					"step": 1,
					"default": 20,
					"unit": "px",
					"label": "t:general.typography.font_size.label"
				},
				{
					"type": "range",
					"id": "footer_space",
					"min": 0,
					"max": 200,
					"step": 2,
					"default": 50,
					"unit": "px",
					"label": "t:general.dimensions.space.label"
				}
			]
		}
	],
	"presets": [
		{
			"name": "t:sections.testimonial-product.name",
			"blocks": [
				{
					"type": "slide"
				},
				{
					"type": "slide"
				},
				{
					"type": "slide"
				}
			]
		}
	]
}
{% endschema %}
