{%- liquid
	assign section_id = '#shopify-section-' | append: section.id
	assign full       = section.settings.full
-%}

<style>
	{{ section_id }} {
		margin-top: {{ section.settings.margin_top_mobile }}px;
		margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
	}

	@media (min-width: 992px) {
		{{ section_id }} {
			margin-top: {{ section.settings.margin_top }}px;
			margin-bottom: {{ section.settings.margin_bottom }}px;
		}
	}
</style>

<div class="{% if full %}stretch-section{% else %}container{% endif %}">
	<div class="section-wrap">
		<div class="video-item">
			{%- if section.settings.source == 'host' -%}
				{% if section.settings.url.type == 'youtube' %}
					<iframe class="js-youtube" data-src="//youtube.com/embed/{{ section.settings.url.id }}?controls=1&mute=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist={{ section.settings.url.id }}" frameborder="0" allowfullscreen></iframe>
				{% elsif section.settings.url.type == 'vimeo' %}
					<iframe class="js-vimeo" data-src="//player.vimeo.com/video/{{ section.settings.url.id }}?autoplay=1&loop=1" frameborder="0"></iframe>
				{% endif %}
			{%- elsif section.settings.native_url != blank -%}
				{{ section.settings.native_url | video_tag: image_size: '1920x', loop: true, muted: false, controls: true, autoplay: true, preload: 'none' }}
			{%- endif -%}

			<div class="video-image-wrapper">
				{%- liquid
					if section.settings.image
						echo section.settings.image | image_url: width: 2100 | image_tag: width: 1920, loading: 'lazy'
					else
						echo 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg'
					endif
				-%}
			</div>

			<span class="play-video">{% render 'icon', code: 'play' %}</span>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "t:sections.video.name",
	"tag": "section",
	"class": "video-section",
	"disabled_on": {
		"groups": ["header", "footer"]
	},
	"settings": [
		{
			"type": "checkbox",
			"id": "full",
			"label": "t:general.layout.full.label",
			"default": true
		},
		{
			"type": "select",
			"id": "source",
			"default": "host",
			"label": "t:sections.video.settings.source.label",
			"options": [
				{
					"value": "host",
					"label": "t:sections.video.settings.source.options.option_1.label"
				},
				{
					"value": "native",
					"label": "t:sections.video.settings.source.options.option_2.label"
				}
			]
		},
		{
			"type": "video_url",
			"id": "url",
			"accept": ["vimeo", "youtube"],
			"label": "t:sections.video.settings.url.label",
			"default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
		},
		{
			"type": "video",
			"id": "native_url",
			"label": "t:sections.video.settings.native_url.label",
			"info": "t:sections.video.settings.native_url.info"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "t:sections.video.settings.cover_image.label"
		},
		{
			"type": "header",
			"content": "t:general.margin.header_margin.content"
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 0,
			"unit": "px",
			"label": "t:general.margin.top.label"
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 0,
			"unit": "px",
			"label": "t:general.margin.bottom.label"
		},
		{
			"type": "paragraph",
			"content": "t:general.margin.paragraph_mobile.content"
		},
		{
			"type": "range",
			"id": "margin_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 0,
			"unit": "px",
			"label": "t:general.margin.top.label"
		},
		{
			"type": "range",
			"id": "margin_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"default": 0,
			"unit": "px",
			"label": "t:general.margin.bottom.label"
		}
	],
	"presets": [
		{
			"name": "t:sections.video.presets.name"
		}
	]
}
{% endschema %}
